openapi: 3.0.3
info:
  title: AZURANCE ERP Insurer API
  version: 0.3.0
  description: >
    API externe sandbox pour ERP compagnies d'assurance. Le tenant assurance est toujours dérivé de
    X-Api-Key; aucun tenant_id, tenant_uid, insurer_uid ou insurer_uuid fourni par le client n'est accepté.
  license:
    name: Proprietary
servers:
  - url: https://insurer-api-sandbox.elenami.com
    description: Sandbox publique
  - url: http://localhost:3102
    description: Développement local
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
  parameters:
    RequestId:
      in: header
      name: X-Request-Id
      required: false
      schema:
        type: string
    Page:
      in: query
      name: page
      required: false
      schema:
        type: integer
        minimum: 1
    PerPage:
      in: query
      name: per_page
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
    ClaimId:
      in: path
      name: claimId
      required: true
      description: >-
        UUID du claim (champ `uuid` de la ressource Claim ; ce n'est pas l'`id` numérique interne).
      schema:
        type: string
        format: uuid
      example: 7c3f9e10-2b4a-4f61-9d3e-1a2b3c4d5e6f
    AssessmentUuid:
      in: path
      name: uuid
      required: true
      description: UUID de l'évaluation de fraude (`assessment_uuid` renvoyé à la création).
      schema:
        type: string
        format: uuid
    Cursor:
      in: query
      name: cursor
      required: false
      description: >-
        Pour la page suivante, repasser la valeur de `meta.next_cursor` de la réponse
        précédente. Omis ou absent : démarre depuis le début.
      schema:
        type: integer
        minimum: 0
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
    AuthError:
      type: object
      description: >-
        Format d'erreur renvoyé par l'API (authentification/scopes), distinct du format
        `Error` renvoyé par les services en aval.
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string
    ClaimStatus:
      type: string
      description: >-
        Statut du claim. `SUBMITTED` est l'état initial à la création et n'est pas atteignable
        via `PUT/PATCH .../status`, qui ne permet que les transitions vers les 4 autres statuts.
      enum: [SUBMITTED, UNDER_REVIEW, APPROVED, REJECTED, PAID]
    ClaimItem:
      type: object
      properties:
        id:
          type: integer
        description:
          type: string
        quantity:
          type: number
        unit_price:
          type: number
        amount:
          type: number
        prescription_uid:
          type: string
          nullable: true
        prescription_line_uid:
          type: string
          nullable: true
        prescribed_medication_code:
          type: string
          nullable: true
        medication_code:
          type: string
          nullable: true
        prescribed_quantity:
          type: number
          nullable: true
        dispensed_quantity:
          type: number
          nullable: true
        substitution_reason:
          type: string
          nullable: true
        batch_number:
          type: string
          nullable: true
        metadata:
          type: object
          nullable: true
    ClaimDocument:
      type: object
      properties:
        id:
          type: integer
        document_type:
          type: string
          enum: [INVOICE, PRESCRIPTION, MEDICAL_REPORT, LAB_RESULT, OTHER]
        media_uid:
          type: string
          nullable: true
          description: Référence du média ; utiliser cet identifiant pour récupérer le fichier, jamais exposé en URL directe ici.
        original_name:
          type: string
          nullable: true
        file_name:
          type: string
          nullable: true
        file_size:
          type: integer
          nullable: true
          description: Taille en octets.
        mime_type:
          type: string
          nullable: true
        sha256_hash:
          type: string
          nullable: true
        media_status:
          type: string
          nullable: true
          description: Statut du scan antivirus (ex. `CLEAN`, `PENDING`, `INFECTED`).
        metadata:
          type: object
          nullable: true
        uploaded_at:
          type: string
          format: date-time
          nullable: true
    Claim:
      type: object
      properties:
        id:
          type: integer
          description: Identifiant numérique interne — ne pas utiliser dans les URLs, préférer `uuid`.
        uuid:
          type: string
          format: uuid
        claim_number:
          type: string
          description: Numéro fonctionnel lisible du claim, distinct de `uuid`.
        tenant_id:
          type: string
          description: Tenant assureur, dérivé de la clé API (jamais fourni par le client).
        subscription_id:
          type: string
          nullable: true
        policyholder_id:
          type: string
          nullable: true
        provider_uuid:
          type: string
          format: uuid
        provider_reference:
          type: string
          nullable: true
          description: Référence libre fournie par le prestataire à la soumission.
        service_execution_uid:
          type: string
          nullable: true
        prior_authorization_uid:
          type: string
          nullable: true
          description: Renseigné si le claim découle d'une préautorisation approuvée.
        covered_person_type:
          type: string
          nullable: true
          description: '`POLICYHOLDER` ou `BENEFICIARY` selon qui a reçu le soin.'
        covered_person_uid:
          type: string
          nullable: true
        provider_name:
          type: string
          nullable: true
        coverage_type_code:
          type: string
          nullable: true
        fraud_assessment_uuid:
          type: string
          nullable: true
          description: >-
            Renseigné une fois qu'une évaluation fraude a été déclenchée
            (voir `POST /api/v1/claims/{claimId}/fraud-assessment`).
        fraud_risk_level:
          type: string
          nullable: true
        fraud_flag_summary:
          type: object
          nullable: true
        fraud_assessed_at:
          type: string
          format: date-time
          nullable: true
        required_documents:
          type: array
          nullable: true
          items:
            type: string
        missing_documents:
          type: array
          nullable: true
          items:
            type: string
        status:
          $ref: '#/components/schemas/ClaimStatus'
        amount_claimed:
          type: number
        amount_approved:
          type: number
          nullable: true
        amount_paid:
          type: number
          nullable: true
        currency:
          type: string
          example: XOF
        service_date:
          type: string
          format: date
        submitted_at:
          type: string
          format: date-time
          nullable: true
        reviewed_at:
          type: string
          format: date-time
          nullable: true
        paid_at:
          type: string
          format: date-time
          nullable: true
        rejection_reason:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        reviewed_by:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        documents_count:
          type: integer
          nullable: true
        documents:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ClaimDocument'
        items:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ClaimItem'
        latest_history:
          type: object
          nullable: true
          description: Dernière entrée de l'historique de statut ; `null` si le claim n'a jamais changé de statut.
          properties:
            id:
              type: integer
            claim_id:
              type: integer
            from_status:
              type: string
              nullable: true
            to_status:
              type: string
            changed_by:
              type: string
              nullable: true
            reason:
              type: string
              nullable: true
            created_at:
              type: string
              format: date-time
    UpdateClaimStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          description: >-
            Nouveau statut. Insensible à la casse, mais seules ces 4 valeurs sont
            aussi acceptées par le service claims en aval : `INFO_NEEDED` est rejeté par
            l'API (absent du validateur) et `PENDING` est accepté par l'API mais
            rejeté en 422 par le service claims. N'utiliser que les
            4 valeurs listées ci-dessous.
          enum: [UNDER_REVIEW, APPROVED, REJECTED, PAID]
        reason:
          type: string
          maxLength: 500
          description: Motif de la décision, en particulier pour un rejet.
        rejection_reason:
          type: string
          maxLength: 500
          description: >-
            Alias historique de `reason`. Si `reason` est aussi fourni, `reason` est prioritaire.
        reviewer_notes:
          type: string
          maxLength: 500
          description: >-
            Second alias de `reason`, utilisé seulement si ni `reason` ni `rejection_reason`
            ne sont fournis.
        reviewed_by:
          type: string
          maxLength: 100
          description: Identifiant libre de la personne ou du système ayant pris la décision.
    ValidationError:
      type: object
      description: Format standard d'erreur de validation Laravel (FormRequest).
      required: [message]
      properties:
        message:
          type: string
        errors:
          type: object
          description: Une entrée par champ en erreur, chacune listant un ou plusieurs messages.
          additionalProperties:
            type: array
            items:
              type: string
    ServiceUnavailableError:
      type: object
      properties:
        message:
          type: string
        service:
          type: string
          description: Service en amont injoignable.
    EligibilityCheckRequest:
      type: object
      required: [identifier, coverage_code]
      description: >-
        `provider_id` ou `provider_uuid` est obligatoire (l'un des deux, pas nécessairement
        les deux). `tenant_id`, `tenant_uid`, `insurer_uid` et `insurer_uuid` ne doivent
        jamais être fournis : l'API les rejette en 400 avant tout traitement
        (le tenant est toujours dérivé de `X-Api-Key`).
      properties:
        identifier:
          type: string
          maxLength: 50
          description: Identifiant de la personne assurée (numéro de police ou identifiant équivalent).
        coverage_code:
          type: string
          maxLength: 20
          description: Code de la couverture à vérifier, tel que renvoyé par `GET /api/v1/coverage-types`.
        amount:
          type: number
          minimum: 0
          description: >-
            Montant du soin à évaluer. S'il est fourni, la réponse inclut en plus un calcul
            de remboursement (`reimbursement`) et une vérification de plafond
            (`coverage.limit_usage`) ; s'il est omis, seule l'éligibilité de base est vérifiée.
        provider_id:
          type: integer
          minimum: 1
          description: Identifiant numérique interne du prestataire. Requis si `provider_uuid` est absent.
        provider_uuid:
          type: string
          maxLength: 100
          description: UUID du prestataire. Requis si `provider_id` est absent.
        beneficiary_id:
          type: string
          maxLength: 50
          description: >-
            À renseigner si le soin concerne un bénéficiaire de la souscription plutôt que
            le souscripteur (`identifier`) lui-même.
        service_date:
          type: string
          format: date
          description: Date du soin. Par défaut la date du jour si omis.
        purpose:
          type: string
          enum: [PRECHECK, CLAIM_SUBMISSION]
          default: PRECHECK
          description: >-
            `PRECHECK` (par défaut) : résultat mis en cache 5 minutes côté eligibility-service,
            pour une simulation avant soumission. `CLAIM_SUBMISSION` : vérification liée à
            une soumission réelle de claim, jamais mise en cache.
    EligibilityBatchCheckRequest:
      type: object
      required: [checks]
      properties:
        checks:
          type: array
          minItems: 1
          maxItems: 20
          description: >-
            Jusqu'à 20 vérifications en une requête. Chaque élément suit les mêmes règles
            que le corps de `POST /api/v1/eligibility/check`.
          items:
            $ref: '#/components/schemas/EligibilityCheckRequest'
    EligibilityCheckResult:
      type: object
      properties:
        eligibility_check_uuid:
          type: string
          format: uuid
        eligible:
          type: boolean
        status:
          type: string
          enum: [ELIGIBLE, INELIGIBLE]
        error_code:
          type: string
          nullable: true
          description: >-
            `null` si `eligible: true`. Sinon un code parmi (liste non exhaustive) :
            `MEMBER_NOT_FOUND`, `MEMBER_SUSPENDED`, `MEMBER_NOT_ACTIVE`, `KYC_NOT_VERIFIED`,
            `NO_ACTIVE_SUBSCRIPTION`, `PLAN_NOT_ACTIVE`, `COVERAGE_NOT_INCLUDED`,
            `BENEFICIARY_NOT_FOUND`, `BENEFICIARY_NOT_ELIGIBLE`, `PROVIDER_NOT_FOUND`,
            `PROVIDER_NOT_IN_NETWORK`, `LIMIT_EXCEEDED`, ou un code de décision dynamique du
            moteur de remboursement quand `amount` est fourni (ex. `REIMBURSEMENT_REJECTED`).
        reason:
          type: string
          nullable: true
          description: Message humainement lisible expliquant `error_code`.
        purpose:
          type: string
          enum: [PRECHECK, CLAIM_SUBMISSION]
        read_only:
          type: boolean
          description: Toujours `true` pour cet endpoint — une vérification n'engage ni ne réserve rien.
        valid_until:
          type: string
          format: date-time
          nullable: true
          description: Horodatage informatif jusqu'auquel considérer ce résultat comme frais (généralement +5 minutes).
        provider_network:
          type: object
          nullable: true
          description: >-
            Renseigné uniquement si `provider_uuid`/`provider_id` a pu être résolu. Contient
            au moins `in_network` (boolean).
        member:
          type: object
          nullable: true
          properties:
            uuid:
              type: string
              format: uuid
            policy_number:
              type: string
            identity_uid:
              type: string
              nullable: true
            full_name:
              type: string
            age:
              type: integer
              nullable: true
            status:
              type: string
            kyc_status:
              type: string
              nullable: true
        subscription:
          type: object
          nullable: true
          properties:
            uuid:
              type: string
              format: uuid
            subscription_number:
              type: string
            plan_code:
              type: string
            plan_name:
              type: string
            status:
              type: string
            effective_date:
              type: string
              format: date
              nullable: true
            expiry_date:
              type: string
              format: date
              nullable: true
            annual_coverage_limit:
              type: number
              nullable: true
            annual_used_amount:
              type: number
            remaining_coverage:
              type: number
              nullable: true
        coverage:
          type: object
          nullable: true
          properties:
            uuid:
              type: string
              format: uuid
            code:
              type: string
            name:
              type: string
            base_rate:
              type: number
              description: Taux de remboursement de base, entre 0 et 1.
            annual_limit:
              type: number
              nullable: true
            remaining_limit:
              type: number
              nullable: true
            requires_authorization:
              type: boolean
            network_restriction:
              type: string
              nullable: true
            limit_usage:
              type: object
              nullable: true
              description: Renseigné uniquement si `amount` était fourni dans la requête.
        reimbursement:
          type: object
          nullable: true
          description: >-
            Renseigné uniquement si `amount` était fourni dans la requête. Contient au moins
            `eligible`, `reimbursement_amount`, `decision` et `decision_reason`.
        contract_context:
          type: object
          nullable: true
          description: >-
            Contexte de trace, à titre de debug. Ne pas parser en production.
            Structure non garantie entre versions.
    CreatePaymentRequest:
      type: object
      required: [idempotency_key, payment_method, beneficiary_type, beneficiary_uuid, amount, allocations]
      properties:
        idempotency_key:
          type: string
          maxLength: 120
        payment_method:
          type: string
          enum: [MANUAL, MOBILE_MONEY, BANK_TRANSFER, CHECK]
        payment_provider:
          type: string
          enum: [MANUAL, ORANGE_MONEY, MTN_MOMO, WAVE, FAKE]
          description: >-
            Pertinent surtout pour `payment_method: MOBILE_MONEY` (`ORANGE_MONEY`,
            `MTN_MOMO`, `WAVE`). `FAKE` est réservé aux paiements simulés en sandbox.
        beneficiary_type:
          type: string
          enum: [PROVIDER, INSURED]
        beneficiary_uuid:
          type: string
          maxLength: 100
        beneficiary_name:
          type: string
          maxLength: 200
        amount:
          type: number
          minimum: 0.01
          description: Doit être égal à la somme des `amount` de `allocations` (tolérance de 0.005).
        currency:
          type: string
          minLength: 3
          maxLength: 3
          default: XOF
        requested_by:
          type: string
          maxLength: 160
        allocations:
          type: array
          minItems: 1
          description: Répartition du paiement sur une ou plusieurs factures/lignes payables.
          items:
            type: object
            required: [payable_invoice_uuid, amount]
            properties:
              payable_invoice_uuid:
                type: string
              payable_invoice_item_uuid:
                type: string
                nullable: true
                description: >-
                  Si omis, l'allocation cible la facture entière plutôt qu'une ligne précise.
              amount:
                type: number
                minimum: 0.01
                description: Ne peut pas dépasser le reste dû de la ligne (ou de la facture).
              metadata:
                type: object
        metadata:
          type: object
    ConfirmPaymentRequest:
      type: object
      required: [external_reference]
      description: >-
        S'applique à tout paiement `MANUAL`, `BANK_TRANSFER` ou `CHECK` en attente
        (`status: CREATED`) : le fait passer à `SUCCEEDED`. Un paiement déjà `FAILED` ou
        `CANCELLED` ne peut plus être confirmé (422).
      properties:
        external_reference:
          type: string
          maxLength: 160
          description: Référence de la preuve de paiement externe (numéro de virement, de chèque...).
        paid_at:
          type: string
          format: date-time
          nullable: true
          description: Date effective du paiement. Par défaut la date/heure de traitement si omis.
        proof_document_uid:
          type: string
          maxLength: 100
          nullable: true
          description: Référence d'un justificatif scanné, le cas échéant.
        metadata:
          type: object
          nullable: true
    PayableInvoiceItem:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        payable_invoice_uuid:
          type: string
          format: uuid
        claim_uuid:
          type: string
          format: uuid
          nullable: true
        claim_number:
          type: string
          nullable: true
        provider_invoice_ref:
          type: string
          nullable: true
        provider_invoice_line_ref:
          type: string
          nullable: true
        provider_patient_ref:
          type: string
          nullable: true
        service_date:
          type: string
          format: date
          nullable: true
        status:
          type: string
          enum: [UNPAID, PARTIALLY_PAID, PAID, CANCELLED]
        approved_amount:
          type: number
        paid_amount:
          type: number
        remaining_amount:
          type: number
        currency:
          type: string
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PayableInvoice:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        invoice_number:
          type: string
        tenant_id:
          type: string
        beneficiary_type:
          type: string
          enum: [PROVIDER, INSURED]
        beneficiary_uuid:
          type: string
        beneficiary_name:
          type: string
          nullable: true
        provider_uuid:
          type: string
          format: uuid
          nullable: true
        provider_name:
          type: string
          nullable: true
        status:
          type: string
          enum: [DRAFT, ISSUED, PARTIALLY_PAID, PAID, CANCELLED]
        total_amount:
          type: number
        paid_amount:
          type: number
        remaining_amount:
          type: number
        currency:
          type: string
        period_start:
          type: string
          format: date
          nullable: true
        period_end:
          type: string
          format: date
          nullable: true
        issued_at:
          type: string
          format: date-time
          nullable: true
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        items:
          type: array
          nullable: true
          description: Présent uniquement sur `GET .../payable-invoices/{uuid}`, absent en liste.
          items:
            $ref: '#/components/schemas/PayableInvoiceItem'
    PaymentAllocation:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        tenant_id:
          type: string
        payment_uuid:
          type: string
          format: uuid
        payable_invoice_uuid:
          type: string
          format: uuid
        payable_invoice_item_uuid:
          type: string
          format: uuid
          nullable: true
        amount:
          type: number
        currency:
          type: string
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
    Payment:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        payment_number:
          type: string
        tenant_id:
          type: string
        beneficiary_type:
          type: string
          enum: [PROVIDER, INSURED]
        beneficiary_uuid:
          type: string
        beneficiary_name:
          type: string
          nullable: true
        payment_method:
          type: string
          enum: [MANUAL, MOBILE_MONEY, BANK_TRANSFER, CHECK]
        payment_provider:
          type: string
          enum: [MANUAL, ORANGE_MONEY, MTN_MOMO, WAVE, FAKE, null]
          nullable: true
        status:
          type: string
          enum: [CREATED, PROCESSING, SUCCEEDED, FAILED, CANCELLED]
          description: >-
            `CREATED` : en attente de confirmation. `PROCESSING` : traitement en cours côté
            fournisseur mobile money (asynchrone). `SUCCEEDED`/`FAILED`/`CANCELLED` : états
            terminaux. Seul `CREATED` peut être confirmé via `.../confirm`.
        amount:
          type: number
        allocated_amount:
          type: number
          description: Doit être égal à `amount` (validé à la création).
        currency:
          type: string
        external_reference:
          type: string
          nullable: true
        requested_by:
          type: string
          nullable: true
        requested_at:
          type: string
          format: date-time
          nullable: true
        processing_at:
          type: string
          format: date-time
          nullable: true
        succeeded_at:
          type: string
          format: date-time
          nullable: true
        failed_at:
          type: string
          format: date-time
          nullable: true
        failure_reason:
          type: string
          nullable: true
        proof_document_uid:
          type: string
          nullable: true
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        allocations:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/PaymentAllocation'
    BillingSyncEvent:
      type: object
      properties:
        cursor:
          type: integer
          description: À repasser dans le paramètre `cursor` de l'appel suivant pour reprendre après cet événement.
        event_id:
          type: string
          format: uuid
        event_type:
          type: string
          description: 'Ex. `payable_invoice.issued`, `payment.succeeded`.'
        aggregate_type:
          type: string
          description: 'Type de ressource concernée, ex. `payable_invoice`, `payment`.'
        aggregate_uuid:
          type: string
          format: uuid
        payload:
          type: object
          description: Snapshot de la ressource au moment de l'événement ; structure dépendante de `event_type`.
        updated_at:
          type: string
          format: date-time
    Notification:
      type: object
      properties:
        uid:
          type: string
          description: Identifiant ULID public — utilisable comme `id` dans les autres endpoints (l'`id` numérique interne fonctionne aussi).
        recipient_id:
          type: string
        recipient_email:
          type: string
          nullable: true
        recipient_phone:
          type: string
          nullable: true
        event_type:
          type: string
        channel:
          type: string
          enum: [EMAIL, SMS, WHATSAPP, PUSH, IN_APP]
        status:
          type: string
          enum: [PENDING, SENT, FAILED, SKIPPED]
        subject:
          type: string
          nullable: true
        body:
          type: string
          nullable: true
        variables:
          type: object
        metadata:
          type: object
        provider:
          type: string
          nullable: true
        provider_message_id:
          type: string
          nullable: true
        error_message:
          type: string
          nullable: true
        critical:
          type: boolean
        sent_at:
          type: string
          format: date-time
          nullable: true
        read_at:
          type: string
          format: date-time
          nullable: true
          description: '`null` tant que `PATCH .../read` n''a pas été appelé.'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    NotificationPreference:
      type: object
      properties:
        uid:
          type: string
        recipient_id:
          type: string
        event_type:
          type: string
          nullable: true
          description: '`null` = préférence par défaut applicable à tous les types d''événements non explicitement surchargés.'
        channels_enabled:
          type: array
          items:
            type: string
            enum: [EMAIL, SMS, WHATSAPP, PUSH, IN_APP]
        is_enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    UpdateNotificationPreferencesRequest:
      type: object
      description: >-
        Crée ou met à jour (upsert) la préférence du destinataire pour `event_type` (ou la
        préférence par défaut si `event_type` est omis/`null`).
      properties:
        event_type:
          type: string
          minLength: 3
          maxLength: 160
          nullable: true
        channels_enabled:
          type: array
          items:
            type: string
            enum: [EMAIL, SMS, WHATSAPP, PUSH, IN_APP]
        is_enabled:
          type: boolean
    Webhook:
      type: object
      description: '`secret` n''est jamais renvoyé par l''API, y compris juste après création — le conserver côté intégrateur dès la création.'
      properties:
        uuid:
          type: string
          format: uuid
        tenant_id:
          type: string
        name:
          type: string
        target_url:
          type: string
          format: uri
        event_types:
          type: array
          items:
            type: string
        is_active:
          type: boolean
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateWebhookRequest:
      type: object
      required: [name, target_url, secret, event_types]
      properties:
        name:
          type: string
          maxLength: 160
        target_url:
          type: string
          format: uri
          maxLength: 1000
          description: >-
            HTTPS obligatoire, port 443 uniquement par défaut, pas d'identifiants dans
            l'URL, pas d'hôte `localhost`/`.local`/IP privée ou réservée (protection SSRF).
        secret:
          type: string
          minLength: 16
          maxLength: 160
          description: Utilisé pour signer les payloads livrés (HMAC) ; voir `postman/ERP-SECURITY-HARDENING.md` côté repo de code pour le détail de la vérification de signature.
        event_types:
          type: array
          minItems: 1
          items:
            type: string
            maxLength: 120
          description: Pas de catalogue fermé côté validation — n'importe quelle chaîne est acceptée ; utiliser les noms d'événements documentés dans le guide webhooks.
        is_active:
          type: boolean
          default: true
        metadata:
          type: object
    UpdateWebhookRequest:
      type: object
      description: Tous les champs sont optionnels (mise à jour partielle).
      properties:
        name:
          type: string
          maxLength: 160
        target_url:
          type: string
          format: uri
          maxLength: 1000
          description: Mêmes contraintes que sur la création (HTTPS, hôte public, port autorisé).
        secret:
          type: string
          minLength: 16
          maxLength: 160
          description: Remplace le secret existant si fourni ; omettre pour le conserver.
        event_types:
          type: array
          minItems: 1
          items:
            type: string
            maxLength: 120
        is_active:
          type: boolean
        metadata:
          type: object
          nullable: true
    TriggerFraudAssessmentRequest:
      type: object
      required: [trigger, idempotency_key]
      properties:
        trigger:
          type: string
          enum: [CLAIM_SUBMITTED, CLAIM_UPDATED, VALIDATION_REQUESTED, MANUAL_REVIEW]
          description: Événement à l'origine du déclenchement de l'évaluation.
        priority:
          type: string
          enum: [NORMAL, HIGH, URGENT]
          default: NORMAL
        idempotency_key:
          type: string
          maxLength: 160
          description: >-
            Si une évaluation existe déjà pour ce claim avec la même `idempotency_key`, elle
            est renvoyée telle quelle (même `assessment_uuid`) sans relancer d'évaluation.
    FraudFeedbackRequest:
      type: object
      required: [decision]
      properties:
        decision:
          type: string
          enum: [APPROVED, REJECTED, INFO_NEEDED]
          description: Décision humaine sur le résultat de l'évaluation fraude.
        reason_codes:
          type: array
          items:
            type: string
          description: Codes libres justifiant la décision (pas de liste fermée côté API).
        reviewer_role:
          type: string
          maxLength: 120
          description: Rôle libre de la personne ayant statué (ex. `claims_manager`).
    FraudAssessment:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        tenant_id:
          type: string
        claim_uuid:
          type: string
          format: uuid
        provider_uuid:
          type: string
          format: uuid
          nullable: true
          description: Renseigné une fois le contexte du claim résolu (peut être `null` tant que `status` est `QUEUED`).
        status:
          type: string
          enum: [QUEUED, RUNNING, PARTIAL, COMPLETED, FAILED, SUPERSEDED]
          description: >-
            `SUPERSEDED` : évaluation remplacée par une plus récente sur le même claim
            (jamais renvoyée par `.../fraud-assessment` qui ne renvoie que la dernière active).
        risk_score:
          type: integer
          nullable: true
          description: Score de 0 à 100, `null` tant que l'évaluation n'est pas terminée.
        risk_level:
          type: string
          nullable: true
          enum: [LOW, MEDIUM, HIGH, CRITICAL, null]
        recommended_action:
          type: string
          nullable: true
          enum: [CONTINUE, REVIEW_IF_ALREADY_IN_VALIDATION, PRIORITIZE_HUMAN_REVIEW, SENIOR_REVIEW_REQUIRED, null]
        trigger:
          type: string
        priority:
          type: string
        request_id:
          type: string
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        flags:
          type: array
          description: Vide tant que l'évaluation n'a pas produit de signal (statut `QUEUED`/`RUNNING`).
          items:
            type: object
            properties:
              code:
                type: string
              category:
                type: string
              severity:
                type: string
                enum: [LOW, MEDIUM, HIGH, CRITICAL]
              confidence:
                type: number
                description: Entre 0 et 1.
              explanation:
                type: string
              evidence:
                type: object
                nullable: true
              source:
                type: string
                description: Règle ou moteur à l'origine du signal (ex. `RepeatedClaimRule`).
              source_version:
                type: string
                nullable: true
        ai_runs:
          type: array
          description: Historique des passages du moteur d'analyse IA sur cette évaluation, s'il y en a eu.
          items:
            type: object
            properties:
              agent_code:
                type: string
              provider:
                type: string
              model:
                type: string
              prompt_version:
                type: string
              output_schema_version:
                type: string
              tokens:
                type: integer
                nullable: true
              estimated_cost:
                type: number
                nullable: true
              status:
                type: string
    CoverageType:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        coverage_code:
          type: string
        coverage_name:
          type: string
        main_category:
          type: string
        sub_category:
          type: string
          nullable: true
        arch_eligible:
          type: boolean
          description: Éligible au régime ARCH (Assurance et Résilience pour la Couverture Sanitaire) en Côte d'Ivoire.
        requires_prescription:
          type: boolean
        requires_referral:
          type: boolean
        age_restrictions:
          type: object
          nullable: true
        gender_restrictions:
          type: string
          nullable: true
        is_active:
          type: boolean
    Coverage:
      type: object
      description: Une couverture d'un plan pour un type de couverture donné (le lien Plan ↔ CoverageType, avec ses conditions).
      properties:
        uuid:
          type: string
          format: uuid
        coverage_type:
          $ref: '#/components/schemas/CoverageType'
        reimbursement_rate:
          type: number
          description: Taux de remboursement de base, entre 0 et 1.
        copayment_percentage:
          type: number
        copayment_fixed_amount:
          type: number
          nullable: true
        annual_limit:
          type: number
          nullable: true
        per_incident_limit:
          type: number
          nullable: true
        max_sessions_per_year:
          type: integer
          nullable: true
        prior_authorization_required:
          type: boolean
        network_restriction:
          type: string
          nullable: true
        reference_tariff_type:
          type: string
          nullable: true
        effective_date:
          type: string
          format: date
          nullable: true
        expiry_date:
          type: string
          format: date
          nullable: true
        is_active:
          type: boolean
    PlanExclusion:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        exclusion_type:
          type: string
        exclusion_code:
          type: string
        exclusion_name:
          type: string
        description:
          type: string
          nullable: true
        is_permanent:
          type: boolean
        waiting_period_days:
          type: integer
          nullable: true
    Plan:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        plan_code:
          type: string
        plan_name:
          type: string
        plan_type:
          type: string
          enum: [STANDARD, PREMIUM, BASIC, CORPORATE]
        description:
          type: string
          nullable: true
        base_premium:
          type: number
        premium_frequency:
          type: string
          enum: [MONTHLY, QUARTERLY, ANNUAL]
        annual_coverage_limit:
          type: number
          nullable: true
        lifetime_coverage_limit:
          type: number
          nullable: true
        dependent_age_limit:
          type: integer
          nullable: true
          description: Âge limite pour qu'un enfant reste couvert comme bénéficiaire dépendant.
        waiting_period_days:
          type: integer
          nullable: true
        grace_period_days:
          type: integer
          nullable: true
        cnss_compliant:
          type: boolean
        arch_compatible:
          type: boolean
        cipres_approved:
          type: boolean
        effective_date:
          type: string
          format: date
        expiry_date:
          type: string
          format: date
          nullable: true
        is_active:
          type: boolean
        coverages:
          type: array
          nullable: true
          description: >-
            Absent en pratique sur tous les endpoints assureur actuels (relation jamais
            chargée pour ce chemin) — ne pas compter dessus pour lister les
            couvertures d'un plan ; utiliser `GET /coverage-types` séparément.
          items:
            $ref: '#/components/schemas/Coverage'
        exclusions:
          type: array
          nullable: true
          description: "Même limitation que `coverages` : absent en pratique sur ces endpoints."
          items:
            $ref: '#/components/schemas/PlanExclusion'
        created_at:
          type: string
          format: date-time
    CreatePlanRequest:
      type: object
      required: [plan_code, plan_name, plan_type, base_premium, premium_frequency, effective_date]
      properties:
        plan_code:
          type: string
          maxLength: 20
          description: Doit être unique. Utilisé ensuite comme identifiant dans `GET /plans/{code}`.
        plan_name:
          type: string
          maxLength: 150
        plan_type:
          type: string
          enum: [STANDARD, PREMIUM, BASIC, CORPORATE]
        description:
          type: string
        base_premium:
          type: number
          minimum: 0
        premium_frequency:
          type: string
          enum: [MONTHLY, QUARTERLY, ANNUAL]
        annual_coverage_limit:
          type: number
          minimum: 0
        lifetime_coverage_limit:
          type: number
          minimum: 0
        dependent_age_limit:
          type: integer
          minimum: 0
          maximum: 30
        waiting_period_days:
          type: integer
          minimum: 0
        grace_period_days:
          type: integer
          minimum: 0
        cnss_compliant:
          type: boolean
        arch_compatible:
          type: boolean
        cipres_approved:
          type: boolean
        effective_date:
          type: string
          format: date
        expiry_date:
          type: string
          format: date
          description: Doit être postérieure à `effective_date` si fournie.
        is_active:
          type: boolean
    UpdatePlanRequest:
      type: object
      description: Tous les champs sont optionnels. `plan_code` et `plan_type` ne sont pas modifiables après création.
      properties:
        plan_name:
          type: string
          maxLength: 150
        description:
          type: string
        base_premium:
          type: number
          minimum: 0
        premium_frequency:
          type: string
          enum: [MONTHLY, QUARTERLY, ANNUAL]
        annual_coverage_limit:
          type: number
          minimum: 0
        lifetime_coverage_limit:
          type: number
          minimum: 0
        dependent_age_limit:
          type: integer
          minimum: 0
          maximum: 30
        waiting_period_days:
          type: integer
          minimum: 0
        grace_period_days:
          type: integer
          minimum: 0
        expiry_date:
          type: string
          format: date
        is_active:
          type: boolean
    CalculateReimbursementRequest:
      type: object
      required: [plan_code, coverage_code, billed_amount, patient_age]
      properties:
        plan_code:
          type: string
          maxLength: 20
        coverage_code:
          type: string
          maxLength: 20
        billed_amount:
          type: number
          minimum: 0
        patient_age:
          type: integer
          minimum: 0
          maximum: 120
        provider_id:
          type: integer
          description: Identifiant numérique interne du prestataire (pas son UUID). Optionnel, utilisé par certaines règles de couverture.
        context:
          type: object
          description: >-
            Variables additionnelles exposées aux règles de couverture sous forme
            `context.<clé>` (ex. `context.diagnosis_code`) ; structure libre, dépend des
            règles configurées sur la couverture.
    ReimbursementResult:
      type: object
      properties:
        eligible:
          type: boolean
          description: '`false` si une règle de couverture rejette la demande (`decision: REJECT`) ; dans ce cas `reimbursement_amount` vaut 0.'
        base_rate:
          type: number
          description: Taux de remboursement du plan avant application des règles.
        final_rate:
          type: number
          description: Taux effectivement appliqué après règles (0 si rejeté).
        billed_amount:
          type: number
        reimbursement_amount:
          type: number
        copay_amount:
          type: number
          description: Reste à charge du patient (`billed_amount` en totalité si rejeté).
        annual_limit:
          type: number
          nullable: true
        requires_authorization:
          type: boolean
        decision:
          type: string
          description: >-
            Dépend des règles de couverture configurées sur ce plan/cette couverture ; les
            valeurs les plus courantes sont `APPROVE` et `REJECT`, mais des règles métier
            personnalisées peuvent introduire d'autres codes.
        decision_reason:
          type: string
          nullable: true
    PriorAuthorization:
      type: object
      description: Demande de prévalidation prestataire à revoir par la compagnie d'assurance.
      properties:
        uuid:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING_REVIEW, INFO_NEEDED, APPROVED, REJECTED, EXPIRED, CANCELLED, CONSUMED]
          description: PENDING_REVIEW = en attente; INFO_NEEDED = pièces attendues; APPROVED = accord donné; REJECTED = refus; EXPIRED = expiré; CANCELLED = annulé; CONSUMED = utilisé par un claim approuvé.
        priority:
          type: string
          enum: [URGENT, STANDARD, DEFERRED]
        provider_uuid:
          type: string
        provider_reference:
          type: string
          nullable: true
        subscription_uid:
          type: string
        covered_person_type:
          type: string
          enum: [policyholder, beneficiary]
        covered_person_uid:
          type: string
        coverage_type_code:
          type: string
        service_date_from:
          type: string
          format: date
          nullable: true
        service_date_to:
          type: string
          format: date
          nullable: true
        estimated_amount:
          type: number
        authorized_amount:
          type: number
          nullable: true
        currency:
          type: string
          nullable: true
        reason:
          type: string
          nullable: true
          description: Motif de la décision une fois traitée (rejet ou demande d'info) ; `null` tant que `PENDING_REVIEW`.
        consent_ref:
          type: string
          nullable: true
        service_execution_uid:
          type: string
          nullable: true
        claim_uuid:
          type: string
          format: uuid
          nullable: true
          description: "Renseigné une fois qu'un claim a consommé cette préautorisation (`status: CONSUMED`)."
        validation_request_uid:
          type: string
          format: uuid
          nullable: true
        limit_reservation_uid:
          type: string
          nullable: true
          description: Réservation souple du plafond créée à l'approbation ; consommée ou libérée selon le devenir du claim associé.
        items:
          type: array
          nullable: true
          items:
            type: object
        documents:
          type: array
          nullable: true
          items:
            type: object
        eligibility_snapshot:
          type: object
          nullable: true
        consent_snapshot:
          type: object
          nullable: true
        decision_snapshot:
          type: object
          nullable: true
        metadata:
          type: object
          nullable: true
        approved_at:
          type: string
          format: date-time
          nullable: true
        rejected_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        cancelled_at:
          type: string
          format: date-time
          nullable: true
        consumed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProviderSpecialty:
      type: object
      properties:
        id:
          type: integer
        specialty:
          type: string
        is_primary:
          type: boolean
    ProviderContact:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        role:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
    Provider:
      type: object
      properties:
        id:
          type: integer
        uuid:
          type: string
          format: uuid
        tenant_id:
          type: string
          description: Tenant du prestataire (organisation qui gère sa fiche), pas celui de l'assureur appelant.
        name:
          type: string
        type:
          type: string
          enum: [HOSPITAL, CLINIC, PHARMACY, LABORATORY, SPECIALIST]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, SUSPENDED]
        tier:
          type: string
          enum: [IN_NETWORK, OUT_OF_NETWORK, PREFERRED, null]
          nullable: true
        accreditation_number:
          type: string
          nullable: true
        tax_id:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        specialties:
          type: array
          nullable: true
          description: Présent uniquement sur `GET /providers/{providerId}` (pas en liste).
          items:
            $ref: '#/components/schemas/ProviderSpecialty'
        contacts:
          type: array
          nullable: true
          description: Présent uniquement sur `GET /providers/{providerId}` (pas en liste).
          items:
            $ref: '#/components/schemas/ProviderContact'
    InsurerProviderNetworkRelationship:
      type: object
      description: Relation conventionnelle entre la compagnie authentifiée par X-Api-Key et un prestataire.
      properties:
        relationship_uid:
          type: string
          format: uuid
          description: Identifiant public de la relation réseau.
        relationship_type:
          type: string
          enum: [care_network]
          description: Type de relation. care_network signifie convention ou affiliation à un réseau de soins.
        relationship_status:
          type: string
          enum: [ACTIVE, ENDED]
          description: Statut de la relation. ACTIVE signifie convention active; ENDED signifie convention clôturée.
        network_status:
          type: string
          enum: [PREFERRED, IN_NETWORK, OUT_OF_NETWORK]
          description: Niveau réseau. PREFERRED indique un prestataire privilégié; IN_NETWORK indique un prestataire conventionné; OUT_OF_NETWORK indique hors réseau.
        network_name:
          type: string
          nullable: true
          description: Nom public du réseau si configuré.
        network_tier:
          type: string
          nullable: true
          description: Niveau brut configuré par le réseau.
        contract_reference:
          type: string
          nullable: true
          description: Référence de convention si disponible.
        contract_start_date:
          type: string
          format: date-time
          nullable: true
          description: Date de début de relation.
        contract_end_date:
          type: string
          format: date-time
          nullable: true
          description: Date de fin de relation si connue.
        claim_submission_enabled:
          type: boolean
          description: Indique si le prestataire peut soumettre des claims pour cette relation.
        requires_prior_authorization:
          type: boolean
          description: Indique si une autorisation préalable est requise par défaut pour ce réseau.
        covered_service_families:
          type: array
          description: Familles de prestations couvertes par cette relation si configurées.
          items:
            type: string
        insurer:
          type: object
          description: Compagnie d'assurance propriétaire du réseau.
        provider:
          type: object
          description: Prestataire conventionné.
    PortraitSource:
      type: string
      enum: [insurer_contract, kyc_refresh, member_update, other]
    PortraitStatus:
      type: object
      properties:
        exists:
          type: boolean
        subject_type:
          type: string
          enum: [MEMBER, BENEFICIARY]
        subject_uuid:
          type: string
          format: uuid
        media_uid:
          type: string
        mime_type:
          type: string
          enum: [image/jpeg, image/png]
        source:
          $ref: '#/components/schemas/PortraitSource'
        captured_at:
          type: string
          format: date-time
        activated_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PortraitUploadResponse:
      type: object
      properties:
        subject_type:
          type: string
          enum: [MEMBER, BENEFICIARY]
        subject_uuid:
          type: string
          format: uuid
        media_uid:
          type: string
        mime_type:
          type: string
          enum: [image/jpeg, image/png]
        status:
          type: string
          enum: [ACTIVE]
        source:
          $ref: '#/components/schemas/PortraitSource'
        captured_at:
          type: string
          format: date-time
        activated_at:
          type: string
          format: date-time
    PortraitUpload:
      type: object
      required: [file, source]
      properties:
        file:
          type: string
          format: binary
          description: JPEG ou PNG uniquement, 1 MB maximum.
        source:
          $ref: '#/components/schemas/PortraitSource'
        captured_at:
          type: string
          format: date-time
        metadata:
          type: string
          description: JSON object optionnel, sans données sensibles inutiles.
    Member:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        tenant_id:
          type: string
        policy_number:
          type: string
        identity_uid:
          type: string
          nullable: true
        national_id:
          type: string
          nullable: true
        cnss_number:
          type: string
          nullable: true
        first_name:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        date_of_birth:
          type: string
          format: date
        age:
          type: integer
          nullable: true
        gender:
          type: string
          enum: [MALE, FEMALE]
        phone_primary:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, TERMINATED, PENDING]
        kyc_status:
          type: string
          enum: [VERIFIED, PENDING, REJECTED, null]
          nullable: true
        registration_date:
          type: string
          format: date
          nullable: true
        metadata:
          type: object
          nullable: true
        subscriptions:
          type: array
          nullable: true
          description: Présent uniquement sur `GET .../members/{memberId}`, absent en liste.
          items:
            $ref: '#/components/schemas/Subscription'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateMemberRequest:
      type: object
      required: [policy_number, first_name, last_name, date_of_birth, gender]
      properties:
        policy_number:
          type: string
          maxLength: 50
          description: Doit être unique pour ce tenant (409/422 si déjà utilisé).
        identity_uid:
          type: string
          maxLength: 50
        national_id:
          type: string
          maxLength: 50
        cnss_number:
          type: string
          maxLength: 50
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        date_of_birth:
          type: string
          format: date
        gender:
          type: string
          enum: [MALE, FEMALE]
        phone_primary:
          type: string
          maxLength: 30
        email:
          type: string
          format: email
          maxLength: 150
        address:
          type: string
        city:
          type: string
          maxLength: 100
        country:
          type: string
          maxLength: 80
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, TERMINATED, PENDING]
          description: Par défaut `PENDING` si omis.
        kyc_status:
          type: string
          enum: [VERIFIED, PENDING, REJECTED]
        registration_date:
          type: string
          format: date
        metadata:
          type: object
    UpdateMemberRequest:
      type: object
      description: Tous les champs sont optionnels ; seuls les champs de contact/statut sont modifiables (pas l'identité ni `policy_number`).
      properties:
        phone_primary:
          type: string
          maxLength: 30
        email:
          type: string
          format: email
          maxLength: 150
        address:
          type: string
        city:
          type: string
          maxLength: 100
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, TERMINATED, PENDING]
        kyc_status:
          type: string
          enum: [VERIFIED, PENDING, REJECTED]
        metadata:
          type: object
    Subscription:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        tenant_id:
          type: string
        policyholder_uuid:
          type: string
          format: uuid
          nullable: true
        subscription_number:
          type: string
        plan_code:
          type: string
        plan_name:
          type: string
          nullable: true
        status:
          type: string
          enum: [PENDING, ACTIVE, SUSPENDED, EXPIRED, CANCELLED]
        effective_date:
          type: string
          format: date
        expiry_date:
          type: string
          format: date
        premium_amount:
          type: number
          nullable: true
        premium_frequency:
          type: string
          enum: [MONTHLY, QUARTERLY, ANNUAL, null]
          nullable: true
        annual_coverage_limit:
          type: number
          nullable: true
        annual_used_amount:
          type: number
        remaining_coverage:
          type: number
          nullable: true
        lifetime_used_amount:
          type: number
        last_premium_payment_date:
          type: string
          format: date
          nullable: true
        renewed_from_uuid:
          type: string
          format: uuid
          nullable: true
          description: Renseigné sur le nouveau contrat issu d'un renouvellement (`POST .../renew`).
        metadata:
          type: object
          nullable: true
        policyholder:
          type: object
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Member'
        beneficiaries:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/Beneficiary'
        status_histories:
          type: array
          nullable: true
          items:
            type: object
            properties:
              uuid:
                type: string
                format: uuid
              from_status:
                type: string
                nullable: true
              to_status:
                type: string
              reason:
                type: string
                nullable: true
              changed_by:
                type: string
                nullable: true
              changed_at:
                type: string
                format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateSubscriptionRequest:
      type: object
      required: [policyholder_uuid, subscription_number, plan_code, effective_date, expiry_date]
      properties:
        policyholder_uuid:
          type: string
          format: uuid
        subscription_number:
          type: string
          maxLength: 60
          description: Doit être unique pour ce tenant.
        plan_code:
          type: string
          maxLength: 50
        plan_name:
          type: string
          maxLength: 150
        status:
          type: string
          enum: [PENDING, ACTIVE, SUSPENDED, EXPIRED, CANCELLED]
          description: Par défaut `PENDING` si omis.
        effective_date:
          type: string
          format: date
        expiry_date:
          type: string
          format: date
          description: Doit être postérieure à `effective_date`.
        premium_amount:
          type: number
          minimum: 0
        premium_frequency:
          type: string
          enum: [MONTHLY, QUARTERLY, ANNUAL]
        annual_coverage_limit:
          type: number
          minimum: 0
        metadata:
          type: object
    UpdateSubscriptionStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [PENDING, ACTIVE, SUSPENDED, EXPIRED, CANCELLED]
        reason:
          type: string
          maxLength: 500
        changed_by:
          type: string
          maxLength: 120
    RenewSubscriptionRequest:
      type: object
      required: [subscription_number, effective_date, expiry_date]
      description: >-
        Crée un nouveau contrat lié à celui-ci via `renewed_from_uuid`, réplique les
        bénéficiaires actifs et remet les compteurs d'usage annuels à zéro.
      properties:
        subscription_number:
          type: string
          maxLength: 60
          description: Numéro du nouveau contrat (doit être unique, distinct de l'actuel).
        effective_date:
          type: string
          format: date
        expiry_date:
          type: string
          format: date
          description: Doit être postérieure à `effective_date`.
        premium_amount:
          type: number
          minimum: 0
        annual_coverage_limit:
          type: number
          minimum: 0
        metadata:
          type: object
    Beneficiary:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        tenant_id:
          type: string
        subscription_uuid:
          type: string
          format: uuid
          nullable: true
        beneficiary_number:
          type: string
          nullable: true
        identity_uid:
          type: string
          nullable: true
        national_id:
          type: string
          nullable: true
        first_name:
          type: string
        last_name:
          type: string
        date_of_birth:
          type: string
          format: date
        gender:
          type: string
          enum: [MALE, FEMALE]
        relationship:
          type: string
          enum: [SELF, SPOUSE, CHILD, PARENT, SIBLING, OTHER]
        is_dependent:
          type: boolean
          nullable: true
        coverage_start_date:
          type: string
          format: date
        coverage_end_date:
          type: string
          format: date
          nullable: true
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, TERMINATED]
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AddBeneficiaryRequest:
      type: object
      required: [first_name, last_name, date_of_birth, gender, relationship, coverage_start_date]
      properties:
        beneficiary_number:
          type: string
          maxLength: 60
        identity_uid:
          type: string
          maxLength: 50
        national_id:
          type: string
          maxLength: 50
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        date_of_birth:
          type: string
          format: date
        gender:
          type: string
          enum: [MALE, FEMALE]
        relationship:
          type: string
          enum: [SELF, SPOUSE, CHILD, PARENT, SIBLING, OTHER]
        is_dependent:
          type: boolean
        coverage_start_date:
          type: string
          format: date
        coverage_end_date:
          type: string
          format: date
          description: Doit être postérieure à `coverage_start_date` si fournie.
        metadata:
          type: object
    UpdateBeneficiaryStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, TERMINATED]
paths:
  /api/v1/prior-authorizations:
    get:
      operationId: listPriorAuthorizations
      summary: Lister les préautorisations à traiter
      x-codeSamples:
        - lang: curl
          source: |
            curl --request GET \
              --url "https://insurer-api-sandbox.elenami.com/api/v1/prior-authorizations?status=PENDING_REVIEW" \
              --header "X-Api-Key: $AZURANCE_INSURER_API_KEY"
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: query
          name: status
          schema:
            type: string
            enum: [PENDING_REVIEW, INFO_NEEDED, APPROVED, REJECTED, EXPIRED, CANCELLED, CONSUMED]
        - in: query
          name: provider_uuid
          schema: { type: string, format: uuid }
        - in: query
          name: subscription_uid
          schema: { type: string }
        - in: query
          name: covered_person_uid
          schema: { type: string }
        - in: query
          name: per_page
          description: Taille de page, 20 par défaut.
          schema: { type: integer, minimum: 1, maximum: 100 }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Liste paginée des préautorisations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PriorAuthorization'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      last_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.prior_authorizations.view` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
  /api/v1/prior-authorizations/{uid}:
    get:
      operationId: getPriorAuthorization
      summary: Consulter une préautorisation
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: uid
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Détail de la préautorisation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PriorAuthorization'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.prior_authorizations.view` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Aucune préautorisation avec cet UUID pour ce tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/prior-authorizations/{uid}/decision:
    post:
      operationId: decidePriorAuthorization
      summary: Décider une préautorisation
      description: Approuve, refuse ou demande des informations complémentaires. Une approbation crée une réservation souple du plafond.
      x-codeSamples:
        - lang: curl
          source: |
            curl --request POST \
              --url "https://insurer-api-sandbox.elenami.com/api/v1/prior-authorizations/00000000-0000-4000-8000-000000000001/decision" \
              --header "Content-Type: application/json" \
              --header "X-Api-Key: $AZURANCE_INSURER_API_KEY" \
              --data '{"decision":"APPROVED","decided_by":"medical_advisor","authorized_amount":150000,"expires_at":"2026-07-30T23:59:59Z","conditions":["Facturation conforme au proforma validé"]}'
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: uid
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision, decided_by]
              properties:
                decision:
                  type: string
                  enum: [APPROVED, REJECTED, INFO_NEEDED]
                  description: APPROVED = accord; REJECTED = refus; INFO_NEEDED = pièces ou clarification requises.
                decided_by:
                  type: string
                  maxLength: 120
                authorized_amount:
                  type: number
                  minimum: 0.01
                  description: Obligatoire si `decision` vaut `APPROVED` (422 sinon).
                expires_at:
                  type: string
                  format: date-time
                  description: Doit être dans le futur si fournie.
                reason:
                  type: string
                  maxLength: 2000
                  description: Obligatoire si `decision` vaut `REJECTED` ou `INFO_NEEDED` (422 sinon).
                notes:
                  type: string
                  maxLength: 4000
                conditions:
                  type: array
                  items:
                    type: string
                metadata:
                  type: object
      responses:
        '200':
          description: Décision enregistrée
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PriorAuthorization'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.prior_authorizations.view` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Aucune préautorisation avec cet UUID pour ce tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: >-
            `authorized_amount` manquant pour une approbation, `reason` manquant pour un
            refus/demande d'info, ou préautorisation déjà décidée/expirée (transition
            invalide). ⚠️ Dans ce dernier cas, `error_code` reprend le même texte que
            `message` (pas un vrai code machine-readable).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Cette préautorisation a déjà été traitée.
        '503':
          description: Service externe indisponible (limite/réservation)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableError'
  /api/v1/auth/verify:
    get:
      operationId: verifyApiKey
      summary: Vérifier la clé API et les scopes visibles
      description: >-
        Point d'entrée recommandé pour valider une intégration : ne nécessite aucun scope
        particulier (seule une clé API valide de type `INSURER` suffit), contrairement à
        tous les autres endpoints qui exigent chacun un scope précis.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Clé API valide
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    enum: [true]
                  environment:
                    type: string
                    enum: [sandbox, production]
                  tenant_uid:
                    type: string
                    format: uuid
                  tenant_slug:
                    type: string
                  tenant_name:
                    type: string
                  subject_type:
                    type: string
                    enum: [INSURER]
                  subject_uid:
                    type: string
                    format: uuid
                  subject_name:
                    type: string
                  scopes:
                    type: array
                    description: Liste des scopes réellement accordés à cette clé (détermine quels endpoints répondront 200 plutôt que 403).
                    items:
                      type: string
              example:
                valid: true
                environment: sandbox
                tenant_uid: b2c9a800-0000-4000-8000-000000000010
                tenant_slug: nsia-assurances
                tenant_name: NSIA Assurances
                subject_type: INSURER
                subject_uid: 5d000000-0000-4000-8000-000000000010
                subject_name: NSIA Assurances
                scopes:
                  - insurer.claims.view
                  - insurer.claims.manage
                  - insurer.members.view
                  - insurer.members.manage
                  - eligibility.check
        '401':
          description: En-tête `X-Api-Key` manquant, ou clé invalide/révoquée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
              example:
                statusCode: 401
                message: X-Api-Key header is required
                error: Unauthorized
        '403':
          description: Clé valide mais pas de type `INSURER` (ex. clé prestataire utilisée par erreur sur cette API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
              example:
                statusCode: 403
                message: API key is not authorized for insurer APIs
                error: Forbidden
  /api/v1/members:
    get:
      operationId: listMembers
      summary: Lister les assurés du portefeuille
      description: >-
        ⚠️ Un filtre `status` existe côté API mais n'est pas transmis :
        seul `search` (nom ou numéro de police) est réellement utilisable ici.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - in: query
          name: search
          description: Recherche libre sur le nom ou le numéro de police.
          schema:
            type: string
      responses:
        '200':
          description: Liste paginée des assurés
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      last_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.view` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
    post:
      operationId: createMember
      summary: Créer un assuré
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMemberRequest'
            example:
              policy_number: POL-2026-004821
              first_name: Awa
              last_name: Diarra
              date_of_birth: '1991-03-12'
              gender: FEMALE
              phone_primary: '+2250700000000'
              email: awa.diarra@example.com
              status: ACTIVE
              kyc_status: VERIFIED
      responses:
        '201':
          description: Assuré créé
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Member'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.manage` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '422':
          description: '`policy_number` déjà utilisée pour ce tenant, ou champ requis manquant/invalide'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              example:
                message: 'Le numéro de police "POL-2026-004821" existe déjà pour ce tenant.'
                errors:
                  policy_number:
                    - 'Le numéro de police "POL-2026-004821" existe déjà pour ce tenant.'
  /api/v1/members/{memberId}:
    get:
      operationId: getMember
      summary: Consulter un assuré
      description: Contrairement à la liste, inclut les souscriptions de l'assuré (`subscriptions`).
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: memberId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Assuré, avec ses souscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Member'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.view` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Aucun assuré avec cet UUID pour ce tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateMember
      summary: Mettre à jour un assuré
      description: >-
        Mise à jour partielle limitée aux coordonnées et au statut — l'identité
        (`first_name`, `last_name`, `date_of_birth`...) et `policy_number` ne sont pas
        modifiables via cet endpoint.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: memberId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemberRequest'
            example:
              phone_primary: '+2250700000001'
              status: SUSPENDED
      responses:
        '200':
          description: Assuré mis à jour
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Member'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.manage` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Aucun assuré avec cet UUID pour ce tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Champ invalide (ex. `status`/`kyc_status` hors énumération)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/members/{memberId}/portrait:
    put:
      operationId: uploadMemberPortrait
      summary: Envoyer ou remplacer le portrait biométrique d'un assuré
      description: >
        Upload multipart protégé par le scope insurer.members.manage. La photo est stockée avec
        la catégorie BIOMETRIC_PHOTO. L'API ne retourne jamais l'image,
        ni d'URL signée. L'assuré doit avoir un identity_uid pour activer le portrait face match.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: memberId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PortraitUpload'
      responses:
        '201':
          description: Portrait activé
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PortraitUploadResponse'
        '400':
          description: Image invalide ou contexte forcé
        '403':
          description: Scope insurer.members.manage manquant
        '404':
          description: Assuré introuvable dans le tenant de la clé API
        '422':
          description: identity_uid manquant ou payload invalide
  /api/v1/members/{memberId}/portrait/status:
    get:
      operationId: getMemberPortraitStatus
      summary: Lire le statut du portrait biométrique d'un assuré
      description: Retourne uniquement le statut et les métadonnées techniques; jamais l'image.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: memberId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Statut du portrait
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PortraitStatus'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.view` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Aucun assuré avec cet UUID pour ce tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/subscriptions:
    get:
      operationId: listSubscriptions
      summary: Lister les souscriptions
      description: '⚠️ `policyholder_uuid` n''est pas supporté sur cet endpoint : seuls `page`/`per_page` fonctionnent ici.'
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Liste paginée des souscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      last_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.view` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
    post:
      operationId: createSubscription
      summary: Créer une souscription
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
            example:
              policyholder_uuid: 5f6e7d8c-0000-4000-8000-000000000099
              subscription_number: SUB-2026-001122
              plan_code: PLAN_ESSENTIAL
              effective_date: '2026-01-01'
              expiry_date: '2026-12-31'
              premium_amount: 25000
              premium_frequency: MONTHLY
              annual_coverage_limit: 2000000
      responses:
        '201':
          description: Souscription créée
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Subscription'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.manage` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '422':
          description: '`subscription_number` déjà utilisé, `expiry_date` antérieure à `effective_date`, ou champ requis manquant'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/subscriptions/{subscriptionId}:
    get:
      operationId: getSubscription
      summary: Consulter une souscription
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: subscriptionId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Souscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Subscription'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.view` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Aucune souscription avec cet UUID pour ce tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/subscriptions/{subscriptionId}/status:
    patch:
      operationId: updateSubscriptionStatus
      summary: Mettre à jour le statut d'une souscription
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: subscriptionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionStatusRequest'
            example:
              status: SUSPENDED
              reason: Impayé de prime depuis 60 jours.
              changed_by: insurer-ops-billing-team
      responses:
        '200':
          description: Statut mis à jour
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Subscription'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.manage` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Aucune souscription avec cet UUID pour ce tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: '`status` absent de l''énumération'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/subscriptions/{subscriptionId}/renew:
    post:
      operationId: renewSubscription
      summary: Renouveler une souscription
      description: >-
        Crée un **nouveau** contrat (nouvel `uuid`) référencé par `renewed_from_uuid`, avec
        les bénéficiaires actifs répliqués et les compteurs d'usage annuels remis à zéro.
        Ne modifie pas le contrat d'origine.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: subscriptionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewSubscriptionRequest'
            example:
              subscription_number: SUB-2027-001122
              effective_date: '2027-01-01'
              expiry_date: '2027-12-31'
              premium_amount: 27000
              annual_coverage_limit: 2200000
      responses:
        '201':
          description: Nouvelle souscription créée (le contrat d'origine n'est pas modifié)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Subscription'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.manage` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Aucune souscription avec cet UUID pour ce tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: '`subscription_number` déjà utilisé, ou `expiry_date` antérieure à `effective_date`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/subscriptions/{subscriptionId}/beneficiaries:
    get:
      operationId: listBeneficiaries
      summary: Lister les bénéficiaires d'une souscription
      description: Une seule page de 20 résultats est toujours renvoyée (la pagination n'est pas supportée sur cet endpoint).
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: subscriptionId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Bénéficiaires
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Beneficiary'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.view` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Aucune souscription avec cet UUID pour ce tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: addBeneficiary
      summary: Ajouter un bénéficiaire
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: subscriptionId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBeneficiaryRequest'
            example:
              first_name: Moussa
              last_name: Diarra
              date_of_birth: '2015-06-20'
              gender: MALE
              relationship: CHILD
              is_dependent: true
              coverage_start_date: '2026-08-04'
      responses:
        '201':
          description: Bénéficiaire ajouté
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Beneficiary'
        '401':
          description: En-tête `X-Api-Key` manquant ou invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Scope `insurer.members.manage` manquant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Aucune souscription avec cet UUID pour ce tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: '`coverage_end_date` antérieure à `coverage_start_date`, ou champ requis manquant'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
[...]
