openapi: 3.0.3
info:
  title: AZURANCE ERP Provider API
  version: 0.1.0
  description: API externe sandbox pour ERP prestataires. Toutes les requêtes doivent inclure un header `X-Api-Key` valide.
  license:
    name: Proprietary
servers:
  - url: https://provider-api-sandbox.elenami.com
    description: Sandbox publique
  - url: http://localhost:3101
    description: Développement local
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
  parameters:
    RequestId:
      in: header
      name: X-Request-Id
      required: false
      schema:
        type: string
      description: Identifiant de corrélation propagé aux services internes.
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
    PriorAuthorization:
      type: object
      description: Demande de prévalidation assurance avant exécution d'une prestation.
      properties:
        uuid:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING_REVIEW, INFO_NEEDED, APPROVED, REJECTED, EXPIRED, CANCELLED, CONSUMED]
          description: PENDING_REVIEW = en attente de revue; INFO_NEEDED = pièces attendues; APPROVED = accord préalable; REJECTED = refus; EXPIRED = accord expiré; CANCELLED = annulé; CONSUMED = utilisé par un claim approuvé.
        priority:
          type: string
          enum: [URGENT, STANDARD, DEFERRED]
          description: URGENT = revue prioritaire; STANDARD = traitement normal; DEFERRED = traitement non urgent.
        subscription_uid:
          type: string
        covered_person_type:
          type: string
          enum: [policyholder, beneficiary]
        covered_person_uid:
          type: string
        coverage_type_code:
          type: string
        estimated_amount:
          type: number
        authorized_amount:
          type: number
          nullable: true
        currency:
          type: string
          example: XOF
        provider_reference:
          type: string
          nullable: true
        consent_ref:
          type: string
          format: uuid
        validation_request_uid:
          type: string
          format: uuid
          nullable: true
        limit_reservation_uid:
          type: string
          format: uuid
          nullable: true
    ProviderNetworkRelationship:
      type: object
      description: Relation conventionnelle entre le prestataire authentifié par X-Api-Key et une compagnie d'assurance.
      properties:
        relationship_uid:
          type: string
          format: uuid
          description: Identifiant public de la relation réseau.
        relationship_type:
          type: string
          enum: [care_network]
          description: Type de relation. care_network signifie convention ou affiliation à un réseau de soins.
        relationship_status:
          type: string
          enum: [ACTIVE, ENDED]
          description: Statut de la relation. ACTIVE autorise l'usage selon les règles de la convention; ENDED signifie relation clôturée.
        network_status:
          type: string
          enum: [PREFERRED, IN_NETWORK, OUT_OF_NETWORK]
          description: Niveau réseau. PREFERRED indique un réseau privilégié; IN_NETWORK indique un prestataire conventionné; OUT_OF_NETWORK indique hors réseau.
        network_name:
          type: string
          nullable: true
          description: Nom public du réseau si configuré.
        network_tier:
          type: string
          nullable: true
          description: Niveau brut configuré par le réseau, par exemple preferred, standard, pharmacy ou lab.
        contract_reference:
          type: string
          nullable: true
          description: Référence de convention si disponible.
        contract_start_date:
          type: string
          format: date-time
          nullable: true
          description: Date de début de relation.
        contract_end_date:
          type: string
          format: date-time
          nullable: true
          description: Date de fin de relation si connue.
        claim_submission_enabled:
          type: boolean
          description: Indique si la relation permet de soumettre des claims dans son état courant.
        requires_prior_authorization:
          type: boolean
          description: Indique si une autorisation préalable est requise par défaut pour ce réseau.
        covered_service_families:
          type: array
          description: Familles de prestations couvertes par cette relation si configurées.
          items:
            type: string
        insurer:
          type: object
          description: Compagnie d'assurance liée à la relation.
        provider:
          type: object
          description: Organisation prestataire liée à la relation.
    MedicationProduct:
      type: object
      description: Produit médicament du référentiel pivot Azurance.
      properties:
        uid:
          type: string
          format: uuid
          description: Identifiant public du produit médicament Azurance.
        country_code:
          type: string
          description: Pays du référentiel produit, par exemple BJ.
        market_status:
          type: string
          enum: [LOCAL_AUTHORIZED, CANDIDATE, UNVERIFIED, WITHDRAWN, REJECTED]
          description: LOCAL_AUTHORIZED = autorisé localement; CANDIDATE = candidat externe; UNVERIFIED = import non validé; WITHDRAWN = retiré; REJECTED = rejeté.
        source:
          type: string
          enum: [ABMED_BENIN, BDPM_FR, MEDICAMENTS_API_FR, CSV]
          description: ABMED_BENIN = source locale Bénin; BDPM_FR/MEDICAMENTS_API_FR = sources candidates France; CSV = import contrôlé.
        designation:
          type: string
          description: Désignation officielle ou importée du produit.
        dci_raw:
          type: string
          nullable: true
          description: DCI/substances lorsque disponibles.
        authorization_number:
          type: string
          nullable: true
          description: Numéro AMM ou identifiant d'autorisation.
        authorization_expires_at:
          type: string
          format: date
          nullable: true
        presentations:
          type: array
          items:
            type: object
        clinical_mapping:
          type: object
          nullable: true
          description: Mapping clinique ATC/RxCUI non obligatoire.
        resolve_confidence:
          type: number
          nullable: true
          description: Score de correspondance retourné uniquement par resolve.
    MedicationReferenceLine:
      type: object
      properties:
        description:
          type: string
        quantity:
          type: number
        unit_price:
          type: number
        prescription_uid:
          type: string
          format: uuid
        prescription_line_uid:
          type: string
          format: uuid
        prescribed_medication_code:
          type: string
        medication_code:
          type: string
        medication_product_uid:
          type: string
          format: uuid
          description: Produit Azurance retenu par l'ERP après recherche/résolution.
        presentation_uid:
          type: string
          description: Présentation Azurance retenue si applicable.
        erp_product_code:
          type: string
          description: Code produit interne ERP, conservé comme snapshot de dispensation.
        erp_product_name:
          type: string
          description: Nom produit interne ERP, conservé comme snapshot.
        erp_mapping_confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Confiance déclarée par l'ERP pour le rapprochement ponctuel.
        dispensed_quantity:
          type: number
        metadata:
          type: object
paths:
  /api/v1/auth/encryption-key:
    get:
      operationId: getEncryptionKey
      summary: Récupérer la clé publique de chiffrement
      security: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Clé publique de chiffrement
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  alg:
                    type: string
                  enc:
                    type: string
  /api/v1/auth/verify:
    get:
      operationId: verifyApiKey
      summary: Vérifier la clé API et les scopes visibles
      security: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Informations sur la clé API et les scopes
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  environment:
                    type: string
                  tenant_uid:
                    type: string
                  tenant_slug:
                    type: string
                  tenant_name:
                    type: string
                  subject_type:
                    type: string
                  subject_uid:
                    type: string
                  subject_name:
                    type: string
                  scopes:
                    type: array
                    items:
                      type: string
  /api/v1/prior-authorizations:
    post:
      operationId: requestPriorAuthorization
      summary: Demander une préautorisation de prestation
      description: Crée une demande formelle de prévalidation avant exécution, par exemple proforma de kinésithérapie ou matériel médical.
      x-codeSamples:
        - lang: curl
          source: |
            curl --request POST \
              --url "https://provider-api-sandbox.elenami.com/api/v1/prior-authorizations" \
              --header "Content-Type: application/json" \
              --header "X-Api-Key: $AZURANCE_PROVIDER_API_KEY" \
              --data '{"subscription_uid":"sub_001","covered_person_type":"beneficiary","covered_person_uid":"ben_001","coverage_type_code":"PHYSIOTHERAPY","estimated_amount":150000,"currency":"XOF","priority":"STANDARD","consent_ref":"00000000-0000-4000-8000-000000000001","items":[{"description":"10 séances de rééducation","quantity":10,"unit_price":15000}],"documents":[{"document_type":"PROFORMA","media_uid":"media_001"}]}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscription_uid, covered_person_type, covered_person_uid, coverage_type_code, estimated_amount, consent_ref, items]
              properties:
                subscription_uid: { type: string }
                covered_person_type:
                  type: string
                  enum: [policyholder, beneficiary]
                covered_person_uid: { type: string }
                coverage_type_code: { type: string }
                service_date_from: { type: string, format: date }
                service_date_to: { type: string, format: date }
                estimated_amount: { type: number }
                currency: { type: string, example: XOF }
                priority:
                  type: string
                  enum: [URGENT, STANDARD, DEFERRED]
                reason: { type: string }
                provider_reference: { type: string }
                consent_ref: { type: string, format: uuid }
                items:
                  type: array
                  items:
                    type: object
                documents:
                  type: array
                  items:
                    type: object
      responses:
        '201':
          description: Demande créée en attente de revue
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PriorAuthorization'
        '403':
          description: Scope ou consentement insuffisant
        '422':
          description: Précheck d'éligibilité refusé ou payload invalide
    get:
      operationId: listPriorAuthorizations
      summary: Lister les préautorisations du prestataire
      x-codeSamples:
        - lang: curl
          source: |
            curl --request GET \
              --url "https://provider-api-sandbox.elenami.com/api/v1/prior-authorizations?status=PENDING_REVIEW" \
              --header "X-Api-Key: $AZURANCE_PROVIDER_API_KEY"
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: query
          name: status
          schema:
            type: string
            enum: [PENDING_REVIEW, INFO_NEEDED, APPROVED, REJECTED, EXPIRED, CANCELLED, CONSUMED]
      responses:
        '200':
          description: Liste paginée
  /api/v1/prior-authorizations/{uid}:
    get:
      operationId: getPriorAuthorization
      summary: Consulter une préautorisation
      parameters:
        - in: path
          name: uid
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Détail de la préautorisation
  /api/v1/prior-authorizations/{uid}/documents:
    post:
      operationId: attachPriorAuthorizationDocument
      summary: Ajouter une pièce à une préautorisation
      parameters:
        - in: path
          name: uid
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Pièce ajoutée
  /api/v1/prior-authorizations/{uid}/cancel:
    post:
      operationId: cancelPriorAuthorization
      summary: Annuler une préautorisation
      parameters:
        - in: path
          name: uid
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Préautorisation annulée
  /api/v1/network/status:
    get:
      operationId: getNetworkStatus
      summary: Lire le statut réseau global du prestataire authentifié
      description: >
        Retourne le statut réseau général du prestataire lié à X-Api-Key. Cet endpoint ne vérifie pas
        l'éligibilité d'un assuré ni d'une prestation précise; pour cela utiliser /api/v1/eligibility/check.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Statut réseau global du prestataire
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope providers.network.view manquant
  /api/v1/network/profile:
    get:
      operationId: getNetworkProfile
      summary: Lire le profil réseau du prestataire authentifié
      description: Retourne le profil du prestataire rattaché à X-Api-Key.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Profil prestataire
  /api/v1/network/relationships:
    get:
      operationId: listInsurerRelationships
      summary: Lister les relations assureur du prestataire authentifié
      description: >
        Liste les compagnies et réseaux avec lesquels le prestataire lié à X-Api-Key est conventionné.
        Aucun identifiant assuré n'est envoyé; la vérification par assuré reste portée par eligibility/check.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: query
          name: status
          required: false
          schema:
            type: string
            enum: [all, active, ended]
          description: Filtre optionnel. all retourne toutes les relations; active retourne les relations actives; ended retourne les relations clôturées.
      responses:
        '200':
          description: Relations assureur du prestataire
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProviderNetworkRelationship'
                  meta:
                    type: object
        '403':
          description: Scope providers.network.view manquant
  /api/v1/provider/insurer-relationships:
    get:
      operationId: listInsurerRelationshipsAlias
      summary: Alias métier pour lister les relations assureur du prestataire
      description: Equivalent de /api/v1/network/relationships avec un nom plus explicite pour les ERP.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: query
          name: status
          required: false
          schema:
            type: string
            enum: [all, active, ended]
      responses:
        '200':
          description: Relations assureur du prestataire
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProviderNetworkRelationship'
                  meta:
                    type: object
  /api/v1/network/insurers:
    get:
      operationId: listAvailableInsurers
      summary: Lister les assureurs disponibles pour une demande d'adhésion réseau
      description: >
        Retourne les organisations assureur actives connues du registre réseau. Le prestataire
        peut utiliser `uid` comme `insurer_org_uid` dans `POST /api/v1/network/request`.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Assureurs disponibles pour demande d'adhésion
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        uid:
                          type: string
                          format: uuid
                        legal_name:
                          type: string
                        trade_name:
                          type: string
                          nullable: true
                        country_code:
                          type: string
              example:
                data:
                  - uid: 5d000000-0000-4000-8000-000000000010
                    legal_name: NSIA Assurances
                    trade_name: NSIA
                    country_code: CI
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope providers.network.view manquant
  /api/v1/network/request:
    post:
      operationId: createAffiliationRequest
      summary: Initier une demande d'adhésion au réseau d'un assureur
      description: >
        Crée une demande d'adhésion `care_network` en statut pending entre l'assureur demandé
        (`insurer_org_uid`) et l'organisation du prestataire authentifié par X-Api-Key.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [insurer_org_uid]
              properties:
                insurer_org_uid:
                  type: string
                  format: uuid
                  description: UID de l'organisation assureur retourné par `GET /api/v1/network/insurers`.
                metadata:
                  type: object
                  additionalProperties: true
                  description: Informations métier facultatives transmises à l'assureur.
            example:
              insurer_org_uid: 5d000000-0000-4000-8000-000000000010
              metadata:
                requested_network_tier: standard
                service_families: [OUTPATIENT, PHARMACY]
                message: Demande d'adhésion au réseau soins ambulatoires.
      responses:
        '201':
          description: Demande d'adhésion créée
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      uid: { type: string, format: uuid }
                      source_uid: { type: string, format: uuid }
                      target_uid: { type: string, format: uuid }
                      type:
                        type: string
                        enum: [care_network]
                      status:
                        type: string
                        enum: [pending]
                      initiated_by:
                        type: string
                        enum: [provider]
                      rejected_reason:
                        type: string
                        nullable: true
                      starts_at:
                        type: string
                        nullable: true
                      ends_at:
                        type: string
                        nullable: true
                      metadata:
                        type: object
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
              example:
                data:
                  uid: 98000000-0000-4000-8000-000000000021
                  source_uid: 5d000000-0000-4000-8000-000000000010
                  target_uid: 3d2e1a00-0000-4000-8000-000000000077
                  type: care_network
                  status: pending
                  initiated_by: provider
                  rejected_reason: null
                  starts_at: null
                  ends_at: null
                  metadata:
                    requested_network_tier: standard
                    service_families: [OUTPATIENT, PHARMACY]
                    message: Demande d'adhésion au réseau soins ambulatoires.
                  created_at: '2026-08-06T15:30:00Z'
                  updated_at: '2026-08-06T15:30:00Z'
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope providers.network.manage manquant
        '404':
          description: Organisation prestataire introuvable dans le registre réseau
        '409':
          description: Une relation pending ou active existe déjà entre ces organisations
  /api/v1/reference/medications:
    get:
      operationId: listMedications
      summary: Lister le référentiel médicaments Azurance
      description: Retourne les produits médicaments du référentiel pivot pour initialiser ou synchroniser un ERP prestataire. Ne retourne pas de stock, lot ou prix réel pharmacie.
      x-codeSamples:
        - lang: curl
          source: |
            curl --request GET \
              --url "https://provider-api-sandbox.elenami.com/api/v1/reference/medications?country_code=BJ&page=1&per_page=100" \
              --header "X-Api-Key: $AZURANCE_PROVIDER_API_KEY"
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: query
          name: country_code
          schema: { type: string, default: BJ }
        - in: query
          name: market_status
          schema:
            type: string
            enum: [LOCAL_AUTHORIZED, CANDIDATE, UNVERIFIED, WITHDRAWN, REJECTED]
          description: LOCAL_AUTHORIZED par défaut. CANDIDATE inclut les sources externes candidates.
        - in: query
          name: source
          schema:
            type: string
            enum: [ABMED_BENIN, BDPM_FR, MEDICAMENTS_API_FR, CSV]
        - in: query
          name: include_candidates
          schema: { type: boolean, default: false }
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
      responses:
        '200':
          description: Liste paginée de produits médicaments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MedicationProduct'
                  meta:
                    type: object
        '403':
          description: Scope reference.medications.view manquant
  /api/v1/reference/medications/search:
    get:
      operationId: searchMedications
      summary: Rechercher un médicament du référentiel
      description: Recherche par désignation, DCI, AMM ou titulaire. Les produits autorisés localement sont prioritaires.
      x-codeSamples:
        - lang: curl
          source: |
            curl --request GET \
              --url "https://provider-api-sandbox.elenami.com/api/v1/reference/medications/search?q=amoxicilline&country_code=BJ" \
              --header "X-Api-Key: $AZURANCE_PROVIDER_API_KEY"
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: query
          name: q
          required: true
          schema: { type: string, minLength: 2 }
        - in: query
          name: country_code
          schema: { type: string, default: BJ }
        - in: query
          name: include_candidates
          schema: { type: boolean, default: false }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50, default: 10 }
      responses:
        '200':
          description: Résultats de recherche
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MedicationProduct'
                  total:
                    type: integer
  /api/v1/reference/medications/export:
    get:
      operationId: exportMedications
      summary: Exporter une page du référentiel médicaments
      description: Export contrôlé JSON ou CSV, limité par pagination. Aucun dump illimité n'est exposé.
      x-codeSamples:
        - lang: curl
          source: |
            curl --request GET \
              --url "https://provider-api-sandbox.elenami.com/api/v1/reference/medications/export?country_code=BJ&format=csv&page=1&per_page=500" \
              --header "X-Api-Key: $AZURANCE_PROVIDER_API_KEY"
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: query
          name: format
          schema:
            type: string
            enum: [json, csv]
            default: json
        - in: query
          name: country_code
          schema: { type: string, default: BJ }
        - in: query
          name: market_status
          schema:
            type: string
            enum: [LOCAL_AUTHORIZED, CANDIDATE, UNVERIFIED, WITHDRAWN, REJECTED]
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 500, default: 500 }
      responses:
        '200':
          description: Export JSON ou CSV
  /api/v1/reference/medications/resolve:
    post:
      operationId: resolveMedication
      summary: Résoudre un produit ERP vers le référentiel Azurance
      description: Retourne des candidats de correspondance sans créer de mapping persistant côté Azurance.
      x-codeSamples:
        - lang: curl
          source: |
            curl --request POST \
              --url "https://provider-api-sandbox.elenami.com/api/v1/reference/medications/resolve" \
              --header "Content-Type: application/json" \
              --header "X-Api-Key: $AZURANCE_PROVIDER_API_KEY" \
              --data '{"erp_product_code":"PHARMA-ERP-AMOX-500","erp_product_name":"AMOX 500 GEL B/12","country_code":"BJ"}'
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [erp_product_name]
              properties:
                erp_product_code:
                  type: string
                erp_product_name:
                  type: string
                country_code:
                  type: string
                  default: BJ
                limit:
                  type: integer
                  minimum: 1
                  maximum: 20
      responses:
        '200':
          description: Meilleure correspondance et candidats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      best_match:
                        $ref: '#/components/schemas/MedicationProduct'
                      candidates:
                        type: array
                        items:
                          $ref: '#/components/schemas/MedicationProduct'
                      confidence:
                        type: number
  /api/v1/reference/medications/{uid}:
    get:
      operationId: getMedication
      summary: Consulter une fiche médicament du référentiel
      description: Retourne un produit médicament, ses présentations et son mapping clinique si disponible.
      x-codeSamples:
        - lang: curl
          source: |
            curl --request GET \
              --url "https://provider-api-sandbox.elenami.com/api/v1/reference/medications/60000000-0000-4000-8000-000000000001" \
              --header "X-Api-Key: $AZURANCE_PROVIDER_API_KEY"
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: uid
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Fiche médicament
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MedicationProduct'
        '404':
          description: Produit introuvable
  /api/v1/reference/medical-acts/categories:
    get:
      operationId: listMedicalActCategories
      summary: Lister les catégories d'actes médicaux
      description: Nécessite le scope reference.medications.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Liste des catégories d'actes médicaux
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
        '401':
          description: API key absente ou invalide
  /api/v1/reference/medical-acts/category/{category}:
    get:
      operationId: listMedicalActsByCategory
      summary: Lister les actes médicaux d'une catégorie
      description: Nécessite le scope reference.medications.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: category
          required: true
          schema:
            type: string
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Liste des actes médicaux de la catégorie
        '401':
          description: API key absente ou invalide
        '404':
          description: Catégorie introuvable
  /api/v1/reference/medical-acts/search:
    get:
      operationId: searchMedicalActs
      summary: Rechercher des actes médicaux
      description: Nécessite le scope reference.medications.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: query
          name: q
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
        - in: query
          name: category
          schema:
            type: string
            enum: [consultation, surgery, imaging, biology, anesthesia, physiotherapy, nursing, vaccination, medication_administration, mental_health, prevention, other]
      responses:
        '200':
          description: Résultats de recherche d'actes médicaux
        '400':
          description: Requête invalide
        '401':
          description: API key absente ou invalide
  /api/v1/reference/medical-acts/{identifier}:
    get:
      operationId: getMedicalAct
      summary: Consulter un acte médical
      description: Nécessite le scope reference.medications.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Détail de l'acte médical
        '401':
          description: API key absente ou invalide
        '404':
          description: Acte médical introuvable
  /api/v1/reference/pathologies/chapters:
    get:
      operationId: listPathologyChapters
      summary: Lister les chapitres de la classification des pathologies
      description: Nécessite le scope reference.medications.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Liste des chapitres de la classification des pathologies
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
        '401':
          description: API key absente ou invalide
  /api/v1/reference/pathologies/chapter/{chapterCode}:
    get:
      operationId: getPathologiesByChapter
      summary: Lister les pathologies d'un chapitre
      description: Nécessite le scope reference.medications.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: chapterCode
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Liste des pathologies du chapitre
        '401':
          description: API key absente ou invalide
        '404':
          description: Chapitre introuvable
  /api/v1/reference/pathologies/search:
    get:
      operationId: searchPathologies
      summary: Rechercher des pathologies
      description: Nécessite le scope reference.medications.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: query
          name: q
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
        - in: query
          name: chapter
          schema:
            type: string
      responses:
        '200':
          description: Résultats de recherche de pathologies
        '400':
          description: Requête invalide
        '401':
          description: API key absente ou invalide
  /api/v1/reference/pathologies/{identifier}:
    get:
      operationId: getPathology
      summary: Consulter une pathologie
      description: Nécessite le scope reference.medications.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Détail de la pathologie
        '401':
          description: API key absente ou invalide
        '404':
          description: Pathologie introuvable
  /api/v1/eligibility/check:
    post:
      operationId: checkEligibility
      summary: Précheck d'éligibilité ERP sans création de claim
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [coverage_type_code, amount]
              properties:
                subscription_uid:
                  type: string
                  format: uuid
                covered_person_type:
                  type: string
                  enum: [policyholder, beneficiary]
                covered_person_uid:
                  type: string
                consent_ref:
                  type: string
                  format: uuid
                subscription_id:
                  type: string
                  description: Ancien champ sandbox conservé temporairement.
                policyholder_id:
                  type: string
                  description: Ancien champ sandbox conservé temporairement.
                coverage_type_code:
                  type: string
                amount:
                  type: number
                service_date:
                  type: string
                  format: date
      responses:
        '200':
          description: Résultat d'éligibilité
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope insuffisant
  /api/v1/covered-persons/resolve:
    post:
      operationId: resolveCoveredPerson
      summary: Résoudre une personne couverte sans exposer de données médicales
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier_type, identifier]
              properties:
                identifier_type:
                  type: string
                  enum: [npi, phone_number, policy_number, subscription_number, member_number, beneficiary_number, policyholder_uid, beneficiary_uid]
                identifier:
                  type: string
                subscription_uid:
                  type: string
                  format: uuid
                limit:
                  type: integer
                  minimum: 1
                  maximum: 10
      responses:
        '200':
          description: Liste bornée de candidats covered_person
        '400':
          description: Recherche non indexée, wildcard ou identifiant trop court
        '429':
          description: Rate limit atteint
  /api/v1/covered-persons/support-search:
    post:
      operationId: supportSearchCoveredPersons
      summary: Recherche de support pour identifier une personne couverte
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name]
              properties:
                first_name:
                  type: string
                  minLength: 2
                  maxLength: 100
                last_name:
                  type: string
                  minLength: 2
                  maxLength: 100
                date_of_birth:
                  type: string
                  format: date
                phone_number:
                  type: string
                  maxLength: 30
                policy_number:
                  type: string
                  maxLength: 50
                national_id:
                  type: string
                  maxLength: 50
                limit:
                  type: integer
                  minimum: 1
                  maximum: 5
      responses:
        '200':
          description: Résultats de recherche de support
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope covered_persons.support_search insuffisant
  /api/v1/consent-requests:
    post:
      operationId: initiateConsentRequest
      summary: Initier un consentement fort assuré pour un ERP prestataire
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [covered_person_type, covered_person_uid, subscription_uid, purpose, scopes]
              properties:
                covered_person_type:
                  type: string
                  enum: [policyholder, beneficiary]
                covered_person_uid:
                  type: string
                subscription_uid:
                  type: string
                  format: uuid
                purpose:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
                channel:
                  type: string
                  enum: [sms, email, whatsapp, totp, face_match]
                assurance_level_required:
                  type: integer
                  enum: [2, 3]
      responses:
        '201':
          description: Challenge de consentement créé
  /api/v1/consent-requests/{uid}/verify:
    post:
      operationId: verifyConsentRequest
      summary: Vérifier un consentement OTP/TOTP ou Face Match
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: uid
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                  enum: [sms, email, whatsapp, totp, face_match]
                code:
                  type: string
                face_match_session_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Consentement validé avec consent_ref
        '422':
          description: Challenge invalide ou expiré
  /api/v1/consent-requests/{uid}:
    get:
      operationId: getConsentRequest
      summary: Consulter une demande de consentement
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: uid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Détail de la demande de consentement
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope consent_requests.create insuffisant
        '404':
          description: Demande de consentement introuvable
  /api/v1/covered-persons/{coveredPersonType}/{coveredPersonUid}/prescriptions:
    get:
      operationId: listAuthorizedPrescriptions
      summary: Lister les ordonnances autorisées après consentement fort
      description: Nécessite le scope clinical.prescriptions.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: coveredPersonType
          required: true
          schema:
            type: string
            enum: [policyholder, beneficiary]
        - in: path
          name: coveredPersonUid
          required: true
          schema:
            type: string
        - in: query
          name: subscription_uid
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: consent_ref
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, default: 20 }
      responses:
        '200':
          description: Ordonnances filtrées selon le consentement et le prestataire
        '401':
          description: API key absente ou invalide
        '403':
          description: Consentement ou scope clinical.prescriptions.view insuffisant
  /api/v1/covered-persons/{coveredPersonUid}/portrait:
    get:
      operationId: getCoveredPersonPortrait
      summary: Récupérer le portrait biométrique d'une personne couverte
      description: Nécessite le scope covered_persons.resolve.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: coveredPersonUid
          required: true
          schema:
            type: string
        - in: query
          name: insurer_tenant_uid
          required: true
          schema:
            type: string
          description: Identifiant du tenant assureur.
        - in: query
          name: covered_person_type
          required: true
          schema:
            type: string
            enum: [policyholder, beneficiary]
        - in: query
          name: subscription_uid
          required: false
          schema:
            type: string
          description: Requis si covered_person_type=beneficiary.
      responses:
        '200':
          description: Portrait biométrique de la personne couverte
        '400':
          description: subscription_uid requis lorsque covered_person_type=beneficiary
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope covered_persons.resolve insuffisant
        '404':
          description: Personne couverte introuvable
  /api/v1/media/uploads:
    post:
      operationId: uploadMedia
      summary: Upload de document clinique ou justificatif claim
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, category, purpose]
              properties:
                file:
                  type: string
                  format: binary
                category:
                  type: string
                purpose:
                  type: string
                external_reference:
                  type: string
                metadata:
                  type: string
      responses:
        '201':
          description: Média créé
  /api/v1/claims:
    post:
      operationId: submitClaim
      summary: Soumettre un claim après recheck final obligatoire
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscription_id, policyholder_id, coverage_type_code, service_date, amount_claimed, currency, items]
              properties:
                subscription_id:
                  type: string
                service_execution_uid:
                  type: string
                  format: uuid
                prior_authorization_uid:
                  type: string
                  format: uuid
                covered_person_type:
                  type: string
                  enum: [policyholder, beneficiary]
                covered_person_uid:
                  type: string
                consent_ref:
                  type: string
                  format: uuid
                policyholder_id:
                  type: string
                coverage_type_code:
                  type: string
                service_date:
                  type: string
                  format: date
                amount_claimed:
                  type: number
                currency:
                  type: string
                  example: XOF
                precheck_eligibility_uuid:
                  type: string
                  format: uuid
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/MedicationReferenceLine'
      responses:
        '201':
          description: Claim créé
        '422':
          description: Check final refusé, aucun claim créé
        '503':
          description: Service interne indisponible, aucun claim créé
    get:
      operationId: listClaims
      summary: Lister les claims du prestataire lié à la clé API
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Liste paginée
  /api/v1/claims/{claimId}:
    get:
      operationId: getClaimStatus
      summary: Consulter le statut d'un claim
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: claimId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Statut du claim
          content:
            application/json:
              schema:
                type: object
                description: Objet claim
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope claims.view insuffisant
        '404':
          description: Claim introuvable
  /api/v1/claims/{claimId}/documents:
    post:
      operationId: attachClaimDocument
      summary: Attacher un document justificatif à un claim
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: claimId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [document_type]
              properties:
                document_type:
                  type: string
                media_uid:
                  type: string
                file_name:
                  type: string
                file_path:
                  type: string
      responses:
        '201':
          description: Document attaché au claim
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope claims.documents.attach insuffisant
        '404':
          description: Claim introuvable
  /api/v1/service-executions:
    post:
      operationId: recordServiceExecution
      summary: Enregistrer une prestation réellement effectuée par l'ERP
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscription_uid, covered_person_type, covered_person_uid, coverage_type_code, service_date, consent_ref, items]
              properties:
                subscription_uid:
                  type: string
                  format: uuid
                covered_person_type:
                  type: string
                  enum: [policyholder, beneficiary]
                covered_person_uid:
                  type: string
                coverage_type_code:
                  type: string
                service_date:
                  type: string
                  format: date
                provider_reference:
                  type: string
                consent_ref:
                  type: string
                  format: uuid
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/MedicationReferenceLine'
      responses:
        '201':
          description: Prestation enregistrée
        '403':
          description: Consentement ou scope invalide
    get:
      operationId: listServiceExecutions
      summary: Lister les prestations réellement effectuées par le prestataire
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Liste paginée
  /api/v1/payable-invoices:
    get:
      operationId: listPayableInvoices
      summary: Lister les bordereaux payables visibles par l'ERP prestataire
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Liste paginée
  /api/v1/payable-invoices/{uuid}:
    get:
      operationId: getPayableInvoice
      summary: Consulter une facture payable
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: uuid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Détail de la facture payable
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope billing.payable_invoices.view insuffisant
        '404':
          description: Facture payable introuvable
  /api/v1/payable-invoices/{uuid}/items:
    get:
      operationId: listPayableInvoiceItems
      summary: Lister les lignes d'une facture payable
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: uuid
          required: true
          schema:
            type: string
        - in: query
          name: filters
          required: false
          schema:
            type: object
            additionalProperties: true
          description: Paramètres de filtrage arbitraires (Record<string, unknown>).
      responses:
        '200':
          description: Liste des lignes de la facture payable
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope billing.payable_invoices.view insuffisant
        '404':
          description: Facture payable introuvable
  /api/v1/payments/{uuid}:
    get:
      operationId: getPayment
      summary: Consulter un paiement
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: uuid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Paiement
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope billing.payments.view insuffisant
        '404':
          description: Paiement introuvable
  /api/v1/payments/{uuid}/allocations:
    get:
      operationId: listPaymentAllocations
      summary: Lister les allocations d'un paiement
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: uuid
          required: true
          schema:
            type: string
        - in: query
          name: filters
          required: false
          schema:
            type: object
            additionalProperties: true
          description: Paramètres de filtrage arbitraires (Record<string, unknown>).
      responses:
        '200':
          description: Liste des allocations du paiement
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope billing.payments.view insuffisant
        '404':
          description: Paiement introuvable
  /api/v1/billing/sync:
    get:
      operationId: getBillingSync
      summary: Flux incrémental ERP des événements billing
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: updated_after
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Page de synchronisation
  /api/v1/webhook-subscriptions:
    post:
      operationId: createWebhookSubscription
      summary: Créer une souscription webhook ERP
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '201':
          description: Souscription créée
  /api/v1/webhook-subscriptions/{uuid}:
    patch:
      operationId: updateWebhookSubscription
      summary: Modifier un abonnement webhook
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: uuid
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Champs à mettre à jour (Record<string, unknown>).
      responses:
        '200':
          description: Abonnement webhook mis à jour
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope billing.webhooks.manage insuffisant
        '404':
          description: Abonnement webhook introuvable
    delete:
      operationId: deleteWebhookSubscription
      summary: Supprimer un abonnement webhook
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: uuid
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Abonnement webhook supprimé
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope billing.webhooks.manage insuffisant
        '404':
          description: Abonnement webhook introuvable
  /api/v1/eligibility/member-card:
    post:
      operationId: getMemberCard
      summary: Récupérer la carte membre d'un assuré à partir du numéro de carte
      description: Nécessite le scope eligibility.check.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier]
              properties:
                identifier:
                  type: string
      responses:
        '200':
          description: Carte membre de l'assuré
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope eligibility.check insuffisant
  /api/v1/encounters:
    post:
      operationId: createEncounter
      summary: Déclarer une nouvelle consultation ou hospitalisation
      description: Nécessite le scope clinical.encounters.manage.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [insured_uid, encounter_type, encounter_date]
              properties:
                insured_uid:
                  type: string
                  format: uuid
                  description: Identifiant UUID de l'assuré.
                encounter_type:
                  type: string
                  enum: [consultation, hospitalization, emergency, surgery, procedure, imaging, laboratory]
                  description: Type de consultation. `consultation` = consultation ambulatoire ; `hospitalization` = admission ; `emergency` = urgences ; `surgery` = acte chirurgical ; `procedure` = geste thérapeutique ; `imaging` = imagerie ; `laboratory` = biologie.
                encounter_date:
                  type: string
                  format: date
                discharge_date:
                  type: string
                  format: date
                  nullable: true
                icd10_codes:
                  type: array
                  items:
                    type: string
                chief_complaint:
                  type: string
                clinical_summary:
                  type: string
                department:
                  type: string
                attending_physician:
                  type: string
            example:
              insured_uid: 9a1b2c3d-4e5f-4061-8f2a-1b2c3d4e5f60
              encounter_type: consultation
              encounter_date: '2026-08-15'
              icd10_codes: ['R10.9']
              chief_complaint: Douleur abdominale
              department: urgences
              attending_physician: Dr. KOUASSI
      responses:
        '201':
          description: Consultation créée
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.encounters.manage insuffisant
    get:
      operationId: listEncounters
      summary: Lister l'historique des consultations d'un assuré
      description: Nécessite le scope clinical.encounters.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: query
          name: insured_uid
          required: true
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, default: 20 }
      responses:
        '200':
          description: Liste paginée des consultations
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.encounters.view insuffisant
  /api/v1/encounters/{encounterId}:
    get:
      operationId: getEncounter
      summary: Récupérer le détail d'une consultation
      description: Nécessite le scope clinical.encounters.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: encounterId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Détail de la consultation
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.encounters.view insuffisant
        '404':
          description: Consultation introuvable
  /api/v1/encounters/{encounterId}/medical-acts:
    get:
      operationId: listMedicalActs
      summary: Lister les actes médicaux d'une consultation
      description: Nécessite le scope clinical.encounters.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: encounterId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Liste des actes médicaux
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.encounters.view insuffisant
        '404':
          description: Consultation introuvable
    post:
      operationId: addMedicalAct
      summary: Ajouter un acte médical à une consultation
      description: Nécessite le scope clinical.encounters.manage.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: encounterId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [act_code, act_label]
              properties:
                act_code:
                  type: string
                  maxLength: 20
                act_label:
                  type: string
                  maxLength: 300
                act_category:
                  type: string
                  enum: [surgery, imaging, biology, consultation, physiotherapy, nursing, anesthesia, other]
                quantity:
                  type: number
                  minimum: 0
                  default: 1
                unit_price:
                  type: number
                  minimum: 0
                performed_at:
                  type: string
                  format: date-time
                performed_by:
                  type: string
                  maxLength: 100
                notes:
                  type: string
                  maxLength: 1000
            example:
              act_code: CS-001
              act_label: Consultation générale
              act_category: consultation
              quantity: 1
              unit_price: 15000
              performed_at: '2026-08-15T10:30:00Z'
              performed_by: Dr. KOUASSI
      responses:
        '201':
          description: Acte médical créé
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.encounters.manage insuffisant
        '404':
          description: Consultation introuvable
  /api/v1/encounters/{encounterId}/documents:
    post:
      operationId: attachEncounterDocument
      summary: Joindre un document clinique à une consultation
      description: Nécessite le scope clinical.documents.attach.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: encounterId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [media_uid, uploaded_by_provider_uid]
              properties:
                media_uid:
                  type: string
                document_type:
                  type: string
                  enum: [scan_prescription, lab_result, imaging_report, discharge_summary, other]
                title:
                  type: string
                status:
                  type: string
                  enum: [draft, final, amended, cancelled]
                produced_at:
                  type: string
                  format: date-time
                produced_by_provider_uid:
                  type: string
                related_type:
                  type: string
                  enum: [prescription, medical_act, claim, lab_order, imaging_order, rehabilitation_request, other]
                related_uid:
                  type: string
                source_system:
                  type: string
                external_reference:
                  type: string
                description:
                  type: string
                uploaded_by_provider_uid:
                  type: string
                uploader_name:
                  type: string
                uploader_role:
                  type: string
                  enum: [doctor, nurse, radiologist, lab_technician, pharmacist, admin]
                uploader_user_uid:
                  type: string
            example:
              media_uid: 8b7c6d5e-0000-4000-8000-000000000020
              document_type: lab_result
              title: NFS et CRP
              status: final
              produced_at: '2026-08-15T10:45:00Z'
              uploaded_by_provider_uid: 3d2e1a00-0000-4000-8000-000000000077
              uploader_name: Dr. KOUASSI
              uploader_role: doctor
              related_type: medical_act
              related_uid: 5e6f7a8b-0000-4000-8000-000000000031
      responses:
        '201':
          description: Document attaché
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.documents.attach insuffisant
        '404':
          description: Consultation introuvable
  /api/v1/encounters/{encounterId}/prescriptions:
    get:
      operationId: listEncounterPrescriptions
      summary: Lister les ordonnances d'une consultation
      description: Nécessite le scope clinical.prescriptions.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: encounterId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Liste des ordonnances
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.prescriptions.view insuffisant
        '404':
          description: Consultation introuvable
    post:
      operationId: createPrescription
      summary: Émettre une ordonnance dans le cadre d'une consultation
      description: Nécessite le scope clinical.prescriptions.manage.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: encounterId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lines]
              properties:
                prescription_type:
                  type: string
                  enum: [standard, bizozone, magistrale, controlled_substance, lab_test, imaging, physiotherapy, nursing_care, specialist_referral]
                  description: Type d'ordonnance. `standard` = médicaments standards ; `bizozone` = zone bizone ; `magistrale` = préparation magistrale ; `controlled_substance` = stupéfiants ; `lab_test` = examens labo ; `imaging` = imagerie ; `physiotherapy` = kinésithérapie ; `nursing_care` = soins infirmiers ; `specialist_referral` = orientation spécialiste.
                issued_at:
                  type: string
                  format: date-time
                valid_until:
                  type: string
                  format: date
                prescriber_name:
                  type: string
                prescriber_registration_number:
                  type: string
                lines:
                  type: array
                  items:
                    type: object
                    properties:
                      line_type:
                        type: string
                        enum: [medication, lab_test, imaging, procedure, session, referral]
                      code:
                        type: string
                      label:
                        type: string
                      medication_name:
                        type: string
                      form:
                        type: string
                      dosage:
                        type: string
                      frequency:
                        type: string
                      duration:
                        type: string
                      quantity:
                        type: number
                      instructions:
                        type: string
                      refills_allowed:
                        type: integer
                      body_site:
                        type: string
                      laterality:
                        type: string
                        enum: [left, right, bilateral]
                      priority:
                        type: string
                        enum: [routine, urgent, stat]
                      indication:
                        type: string
                      session_count:
                        type: integer
                      session_frequency:
                        type: string
                      specialty:
                        type: string
                      referred_provider_uid:
                        type: string
                clinical_notes:
                  type: string
            example:
              prescription_type: standard
              prescriber_name: Dr. KOUASSI
              prescriber_registration_number: CI-CO-2018-0042
              lines:
                - line_type: medication
                  medication_name: Amoxicilline 500mg
                  form: comprimé
                  dosage: 500mg
                  frequency: 3 fois par jour
                  duration: 7 jours
                  quantity: 21
                  instructions: Après les repas
              clinical_notes: Infection respiratoire basse
      responses:
        '201':
          description: Ordonnance créée
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.prescriptions.manage insuffisant
        '404':
          description: Consultation introuvable
  /api/v1/prescriptions/{prescriptionId}:
    get:
      operationId: getPrescription
      summary: Consulter le détail d'une ordonnance
      description: Nécessite le scope clinical.prescriptions.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: prescriptionId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Détail de l'ordonnance
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.prescriptions.view insuffisant
        '404':
          description: Ordonnance introuvable
  /api/v1/insured/{insuredUid}/prescriptions:
    get:
      operationId: listInsuredPrescriptions
      summary: Lister l'historique des ordonnances d'un assuré
      description: Nécessite le scope clinical.prescriptions.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: insuredUid
          required: true
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, default: 20 }
      responses:
        '200':
          description: Liste paginée des ordonnances
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.prescriptions.view insuffisant
  /api/v1/insured/{insuredUid}/medical-record:
    get:
      operationId: getMedicalRecord
      summary: Consulter le dossier médical complet d'un assuré
      description: Nécessite le scope clinical.records.view.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: insuredUid
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Dossier médical complet
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.records.view insuffisant
        '404':
          description: Dossier médical introuvable
    put:
      operationId: updateMedicalRecord
      summary: Mettre à jour le dossier médical d'un assuré (merge partiel)
      description: Nécessite le scope clinical.records.manage.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: insuredUid
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                blood_type:
                  type: string
                  enum: [A+, A-, B+, B-, AB+, AB-, O+, O-, unknown]
                height_cm:
                  type: number
                weight_kg:
                  type: number
                allergies:
                  type: array
                  items:
                    type: object
                    required: [substance]
                    properties:
                      substance:
                        type: string
                      reaction:
                        type: string
                      severity:
                        type: string
                        enum: [mild, moderate, severe, unknown]
                chronic_conditions:
                  type: array
                  items:
                    type: object
                    required: [condition_name]
                    properties:
                      condition_name:
                        type: string
                      icd10_code:
                        type: string
                      diagnosed_at:
                        type: string
                      current_treatment:
                        type: string
                surgical_history:
                  type: array
                  items:
                    type: object
                    required: [procedure_name]
                    properties:
                      procedure_name:
                        type: string
                      performed_at:
                        type: string
                      hospital_name:
                        type: string
                      notes:
                        type: string
                immunizations:
                  type: array
                  items:
                    type: object
                    required: [vaccine_name]
                    properties:
                      vaccine_name:
                        type: string
                      administered_at:
                        type: string
                      next_dose_at:
                        type: string
                family_history:
                  type: string
                lifestyle_notes:
                  type: string
                current_medications:
                  type: string
                updated_by_provider_uid:
                  type: string
            example:
              blood_type: A+
              height_cm: 175
              weight_kg: 72
              allergies:
                - substance: Pénicilline
                  reaction: Anaphylaxie
                  severity: severe
              chronic_conditions:
                - condition_name: Diabète type 2
                  icd10_code: E11.9
                  current_treatment: Metformine 500mg
              current_medications: Metformine 500mg, Lisinopril 10mg
              updated_by_provider_uid: 3d2e1a00-0000-4000-8000-000000000077
      responses:
        '200':
          description: Dossier médical mis à jour
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.records.manage insuffisant
        '404':
          description: Dossier médical introuvable
  /api/v1/insured/{insuredUid}/medical-record/summary:
    get:
      operationId: getMedicalRecordSummary
      summary: Récupérer la synthèse du dossier médical d'un assuré
      description: Nécessite le scope clinical.records.view. Retourne les allergies, pathologies, groupe sanguin et traitements en cours.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: insuredUid
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Synthèse du dossier médical (allergies, pathologies, groupe sanguin, traitements)
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.records.view insuffisant
        '404':
          description: Dossier médical introuvable
  /api/v1/insured/{insuredUid}/medical-record/timeline:
    get:
      operationId: getMedicalRecordTimeline
      summary: Chronologie médicale complète d'un assuré
      description: Nécessite le scope clinical.records.view. Retourne une timeline paginée combinant consultations, ordonnances et actes médicaux.
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - in: path
          name: insuredUid
          required: true
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, default: 20 }
      responses:
        '200':
          description: Timeline paginée (consultations, ordonnances, actes)
        '401':
          description: API key absente ou invalide
        '403':
          description: Scope clinical.records.view insuffisant
